Repository lucide-icons/lucide, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 dependencies, 📖 documentation, 🌍 site, 🫧 metadata, 🎨 icon, 🧳 lucide package, ⚛️ react package, ⚛️ react native package, 💎 vue package, 🅰️ angular package, ⚛️ preact package, 🧣 svelte package, 🪝 solid package, 🪨 static package, 🏹 flutter package

.github/labeler.yml:

# For changed dependencies
📦 dependencies:
- pnpm-lock.yaml

# For changes in documentation
📖 documentation:
- docs/*.md
- docs/**/*.md

# For changes in the site, but not markdown files
🌍 site:
- 'docs/**'
- '!docs/*.md'
- '!docs/**/*.md'

# For changes in the metadata
🫧 metadata:
- 'icons/*.json'
- categories/*

# For changes or added icons
🎨 icon:
- 'icons/*.svg'

# For changes in the lucide package
🧳 lucide package:
- 'packages/lucide/*'

# For changes in the lucide React package
⚛️ react package:
- 'packages/lucide-react/*'

# For changes in the lucide React Native package
⚛️ react native package:
- 'packages/lucide-react-native/*'

# For changes in the lucide vue packages
💎 vue package:
- 'packages/lucide-vue/*'
- 'packages/lucide-vue-next/*'

# For changes in the lucide angular package
🅰️ angular package:
- 'packages/lucide-angular/*'

# For changes in the lucide preact package
⚛️ preact package:
- 'packages/lucide-preact/*'

# For changes in the lucide svelte package
🧣 svelte package:
- 'packages/lucide-svelte/*'

# For changes in the lucide solid package
🪝 solid package:
- 'packages/lucide-solid/*'

# For changes in the lucide static package
🪨 static package:
- 'packages/lucide-static/*'

# For changes in the lucide flutter package
🏹 flutter package:
- 'packages/lucide-flutter/*'

Add `square-*` code snippet/gist icons (#1068)
  icons/square-code.json
  icons/square-code.svg
  icons/square-dashed-bottom-code.json
  icons/square-dashed-bottom-code.svg
  icons/square-dashed-bottom.json
  icons/square-dashed-bottom.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `square-*` code snippet/gist icons (#1068)
  icons/square-code.json
  icons/square-code.svg
  icons/square-dashed-bottom-code.json
  icons/square-dashed-bottom-code.svg
  icons/square-dashed-bottom.json
  icons/square-dashed-bottom.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `rainbow` icon (#1357)
  icons/rainbow.json
  icons/rainbow.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `rainbow` icon (#1357)
  icons/rainbow.json
  icons/rainbow.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Revert "Add `arrow-back` icon"
  icons/arrow-back.json
  icons/arrow-back.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Optimise `check`[`-*`] icons
  icons/check-circle-2.svg
  icons/check-circle.svg
  icons/check-square.svg
  icons/check.svg
Labels: 🌍 site, 🎨 icon

Add missing `check-square` variant
  icons/check-square-2.json
  icons/check-square-2.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Improve `scissors`[`-*`] icons metadata
  icons/scissors-square-dashed-bottom.json
  icons/scissors-square.json
  icons/scissors.json
Labels: 🌍 site, 🫧 metadata

Add `scissors-line-dashed` (cut along dashed line) icon
  icons/scissors-line-dashed.json
  icons/scissors-line-dashed.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add icon
  icons/area-chart.json
  icons/area-chart.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Move top line up 1px
  icons/area-chart.svg
Labels: 🌍 site, 🎨 icon

Revert "Add `crosshair-square` (inspector) variant"
  icons/crosshair-square-2.json
  icons/crosshair-square-2.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Revert "Add `applications` icon"
  icons/applications.json
  icons/applications.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Remove `computer-chip` icon
  icons/computer-chip.json
  icons/computer-chip.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Improve metadata
  icons/cpu.json
  icons/memory-stick.json
  icons/waypoints.json
Labels: 🌍 site, 🫧 metadata

Refine `locate` icon
  icons/locate.json
  icons/locate.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `locate-square` icon
  icons/locate-square.json
  icons/locate-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Optimise `calendar`[`-*`] icons
  icons/calendar-check-2.svg
  icons/calendar-check.svg
  icons/calendar-clock.svg
  icons/calendar-days.svg
  icons/calendar-heart.svg
  icons/calendar-minus.svg
  icons/calendar-off.svg
  icons/calendar-plus.svg
  icons/calendar-range.svg
  icons/calendar-search.svg
  icons/calendar-x-2.svg
  icons/calendar-x.svg
  icons/calendar.svg
Labels: 🌍 site, 🎨 icon

Add `calendar-plus` variant
  icons/calendar-plus-2.json
  icons/calendar-plus-2.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `calendar-minus` variant
  icons/calendar-minus-2.json
  icons/calendar-minus-2.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `calendar-slash` icon
  icons/calendar-slash.json
  icons/calendar-slash.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Improve `calendar`[`-*`] icons metadata
  icons/calendar-check-2.json
  icons/calendar-check.json
  icons/calendar-clock.json
  icons/calendar-days.json
  icons/calendar-heart.json
  icons/calendar-minus-2.json
  icons/calendar-minus.json
  icons/calendar-off.json
  icons/calendar-plus-2.json
  icons/calendar-plus.json
  icons/calendar-range.json
  icons/calendar-search.json
  icons/calendar-x-2.json
  icons/calendar-x.json
  icons/calendar.json
Labels: 🌍 site, 🫧 metadata

Add `calendar-fold` icon
  icons/calendar-fold.json
  icons/calendar-fold.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Refine `sticker` icon fold
  icons/sticker.svg
Labels: 🌍 site, 🎨 icon

Improve `undo-2` metadata (#1339)
  icons/undo-2.json
Labels: 🌍 site, 🫧 metadata

Improve `undo-2` metadata (#1339)
  icons/undo-2.json
Labels: 🌍 site, 🫧 metadata

Remove (co)`pilot` icon
  icons/pilot.json
  icons/pilot.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Refine `sticky-note` icon
  icons/sticky-note.svg
Labels: 🌍 site, 🎨 icon

Improve `sticky-note` metadata
  icons/sticky-note.json
Labels: 🌍 site, 🫧 metadata

Add `sticky-note-text` icon
  icons/sticky-note-text.json
  icons/sticky-note-text.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Remove `cable-usb` icon
  icons/cable-usb.json
  icons/cable-usb.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Revert "Add `screw-head` icon"
  icons/screw-head.json
  icons/screw-head.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Revert "Add `screw` icon"
  icons/screw.json
  icons/screw.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Simplify `drill` icon
  icons/drill.svg
Labels: 🌍 site, 🎨 icon

Revert rename of `loader-2` to `loader-circle`
  icons/loader-2.json
  icons/loader-2.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Fix `text` icon
  icons/text.svg
Labels: 🌍 site, 🎨 icon

Optimise typography/format/toolbar icons
  icons/clipboard-type.svg
  icons/italic.svg
  icons/strikethrough.svg
  icons/text-select.svg
  icons/type.svg
  icons/underline.svg
Labels: 🌍 site, 🎨 icon

Improve typography/format/toolbar/h1–6 icons metadata
  icons/ampersand.json
  icons/ampersands.json
  icons/at-sign.json
  icons/baseline.json
  icons/bold.json
  icons/clipboard-type.json
  icons/heading-1.json
  icons/heading-2.json
  icons/heading-3.json
  icons/heading-4.json
  icons/heading-5.json
  icons/heading-6.json
  icons/heading.json
  icons/italic.json
  icons/ligature.json
  icons/remove-formatting.json
  icons/strikethrough.json
  icons/type.json
  icons/underline.json
Labels: 🌍 site, 🫧 metadata

Add `text-square` icon
  icons/text-square.json
  icons/text-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `type-square` icon
  icons/type-square.json
  icons/type-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon
