Repository lucide-icons/lucide, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 dependencies, 📖 documentation, 🌍 site, 🫧 metadata, 🎨 icon, 🧳 lucide package, ⚛️ react package, ⚛️ react native package, 💎 vue package, 🅰️ angular package, ⚛️ preact package, 🧣 svelte package, 🪝 solid package, 🪨 static package, 🏹 flutter package

.github/labeler.yml:

# For changed dependencies
📦 dependencies:
- pnpm-lock.yaml

# For changes in documentation
📖 documentation:
- docs/*.md
- docs/**/*.md

# For changes in the site, but not markdown files
🌍 site:
- 'docs/**'
- '!docs/*.md'
- '!docs/**/*.md'

# For changes in the metadata
🫧 metadata:
- 'icons/*.json'
- categories/*

# For changes or added icons
🎨 icon:
- 'icons/*.svg'

# For changes in the lucide package
🧳 lucide package:
- 'packages/lucide/*'

# For changes in the lucide React package
⚛️ react package:
- 'packages/lucide-react/*'

# For changes in the lucide React Native package
⚛️ react native package:
- 'packages/lucide-react-native/*'

# For changes in the lucide vue packages
💎 vue package:
- 'packages/lucide-vue/*'
- 'packages/lucide-vue-next/*'

# For changes in the lucide angular package
🅰️ angular package:
- 'packages/lucide-angular/*'

# For changes in the lucide preact package
⚛️ preact package:
- 'packages/lucide-preact/*'

# For changes in the lucide svelte package
🧣 svelte package:
- 'packages/lucide-svelte/*'

# For changes in the lucide solid package
🪝 solid package:
- 'packages/lucide-solid/*'

# For changes in the lucide static package
🪨 static package:
- 'packages/lucide-static/*'

# For changes in the lucide flutter package
🏹 flutter package:
- 'packages/lucide-flutter/*'

Add `italic-square` icon
  icons/italic-square.json
  icons/italic-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `bold-square` icon
  icons/bold-square.json
  icons/bold-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `heading-square` icon
  icons/heading-square.json
  icons/heading-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `underline-square` icon
  icons/underline-square.json
  icons/underline-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `baseline-square` icon
  icons/baseline-square.json
  icons/baseline-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `strikethrough-square` icon
  icons/strikethrough-square.json
  icons/strikethrough-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `remove-formatting-square` icon
  icons/remove-formatting-square.json
  icons/remove-formatting-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `ligature-square` icon
  icons/ligature-square.json
  icons/ligature-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `ampersand-square` icon
  icons/ampersand-square.json
  icons/ampersand-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `at-sign-square` icon
  icons/at-sign-square.json
  icons/at-sign-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `at-sign-circle` icon
  icons/at-sign-circle.json
  icons/at-sign-circle.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `heading-circle` icon
  icons/heading-circle.json
  icons/heading-circle.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `copy-type` (copy with formatting) icon
  icons/copy-type.json
  icons/copy-type.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Improve `scroll` icons metadata
  icons/scroll-text.json
  icons/scroll.json
Labels: 🌍 site, 🫧 metadata

Optimise `plus`/`minus` icons
  icons/minus-circle.svg
  icons/minus-square.svg
  icons/minus.svg
  icons/plus-circle.svg
  icons/plus-square.svg
  icons/plus.svg
Labels: 🌍 site, 🎨 icon

Optimise `square` icon
  icons/square.svg
Labels: 🌍 site, 🎨 icon

Improve `plus`/`minus` icons metadata
  icons/minus-circle.json
  icons/minus-square.json
  icons/minus.json
  icons/plus-circle.json
  icons/plus-square.json
  icons/plus.json
Labels: 🌍 site, 🫧 metadata

Improve metadata
  icons/gearbox-square.json
  icons/gearbox.json
  icons/steering-wheel.json
Labels: 🌍 site, 🫧 metadata

Add `motor-racing-helmet` icon
  icons/motor-racing-helmet.json
  icons/motor-racing-helmet.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Revert "Fix `text` icon"
  icons/text.svg
Labels: 🌍 site, 🎨 icon

Refine `text-keyword` icon
  icons/text-keyword.svg
Labels: 🌍 site, 🎨 icon

Add `arrow-up-right-from-square` (share) icon
  icons/arrow-up-right-from-square.json
  icons/arrow-up-right-from-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `arrow-up-left-from-square` icon
  icons/arrow-up-left-from-square.json
  icons/arrow-up-left-from-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `arrow-down-left-from-square` icon
  icons/arrow-down-left-from-square.json
  icons/arrow-down-left-from-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `arrow-down-right-from-square` icon
  icons/arrow-down-right-from-square.json
  icons/arrow-down-right-from-square.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `layout-list-check` icon (#1232)
  icons/layout-list.json
  icons/layout-list.svg
  icons/list-todo.json
  icons/list-todo.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `layout-list-check` icon (#1232)
  icons/layout-list.json
  icons/layout-list.svg
  icons/list-todo.json
  icons/list-todo.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `square-kanban`/`gantt` (project) icons (#1201)
  icons/folder-kanban.json
  icons/folder-kanban.svg
  icons/gantt-chart.json
  icons/gantt-chart.svg
  icons/square-gantt.json
  icons/square-gantt.svg
  icons/square-kanban-dashed.json
  icons/square-kanban-dashed.svg
  icons/square-kanban.json
  icons/square-kanban.svg
  icons/target.json
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `square-kanban`/`gantt` (project) icons (#1201)
  icons/folder-kanban.json
  icons/folder-kanban.svg
  icons/gantt-chart.json
  icons/gantt-chart.svg
  icons/square-gantt.json
  icons/square-gantt.svg
  icons/square-kanban-dashed.json
  icons/square-kanban-dashed.svg
  icons/square-kanban.json
  icons/square-kanban.svg
  icons/target.json
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add generic `folder-root`/`sync` icons (#1215)
  icons/folder-dot.json
  icons/folder-dot.svg
  icons/folder-open-dot.json
  icons/folder-open-dot.svg
  icons/folder-root.json
  icons/folder-root.svg
  icons/folder-sync.json
  icons/folder-sync.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add generic `folder-root`/`sync` icons (#1215)
  icons/folder-dot.json
  icons/folder-dot.svg
  icons/folder-open-dot.json
  icons/folder-open-dot.svg
  icons/folder-root.json
  icons/folder-root.svg
  icons/folder-sync.json
  icons/folder-sync.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add [`cassette`/`video`]`-tape` icons (#1248)
  icons/cassette-tape.json
  icons/cassette-tape.svg
  icons/videotape.json
  icons/videotape.svg
  icons/voicemail.json
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add [`cassette`/`video`]`-tape` icons (#1248)
  icons/cassette-tape.json
  icons/cassette-tape.svg
  icons/videotape.json
  icons/videotape.svg
  icons/voicemail.json
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `wallet-cards` icon/`wallet` variant/optimise `credit-card` icon/improve metadata (#1332)
  icons/wallet-2.json
  icons/wallet-2.svg
  icons/wallet-cards.json
  icons/wallet-cards.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Add `wallet-cards` icon/`wallet` variant/optimise `credit-card` icon/improve metadata (#1332)
  icons/wallet-2.json
  icons/wallet-2.svg
  icons/wallet-cards.json
  icons/wallet-cards.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Optimise `gem` icon/improve metadata (#1305)
  icons/gem.json
  icons/gem.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon

Optimise `gem` icon/improve metadata (#1305)
  icons/gem.json
  icons/gem.svg
Labels: 🌍 site, 🫧 metadata, 🎨 icon
