Repository lucide-icons/lucide, pull requests merged in 2020-10, with the labels that each got.

#43 Feat: Adds `list-ordered`, `list-unordered`, `list-checks`
  icons/list-checks.svg
  icons/list-ordered.svg
Labels: help wanted

#104 Update readme's table of content
  README.md
Labels: 📖 documentation

#73 Docs: Design guide
  docs/ICON_DESIGN_GUIDE.md
  docs/images/1px-padding.png
  docs/images/24px-24px.png
  docs/images/2px-border-radius.png
  docs/images/2px-element-spacing.png
  docs/images/2px-stroke.png
  docs/images/centered-strokes.png
  docs/images/round-caps.png
  docs/images/round-joints.png
Labels: 📖 documentation

#99 Feature/site detail page
  .eslintrc.js
  categories.json
  site/.babelrc
  site/.eslintrc.js
  site/babel.config.js
  site/jest.config.js
  site/package.json
  site/src/assets/styling.css
  site/src/components/Header.tsx
  site/src/components/IconDetailOverlay.tsx
  site/src/components/IconList.tsx
  site/src/components/IconOverview.tsx
  site/src/components/Layout.tsx
  site/src/lib/theme.tsx
  site/src/pages/_app.tsx
  site/src/pages/_document.tsx
  site/src/pages/icon/[iconName].tsx
  site/src/pages/index.tsx
  site/src/tests/IconOverview.test.tsx
  site/src/tests/index.test.tsx
  site/yarn.lock
  yarn.lock
Labels: 🌍 site

#102 Add indentation icons in/out
  icons/indent.svg
  icons/outdent.svg
Labels: 🎨 Icon

#113 Add customization options to the icon display and download
  site/package.json
  site/src/components/ColorPicker.tsx
  site/src/components/CustomizeIconContext.tsx
  site/src/components/Header.tsx
  site/src/components/IconCustomizerDrawer.tsx
  site/src/components/IconDetailOverlay.tsx
  site/src/components/IconList.tsx
  site/src/components/IconWrapper.tsx
  site/src/lib/icons.tsx
  site/src/pages/index.tsx
  site/yarn.lock
Labels: 🌍 site
