Repository lucide-icons/lucide, pull requests merged in 2021-03, with the labels that each got.

#254 Fix duplicated contributors on site
  site/src/lib/fetchAllContributors.ts
Labels: 🌍 site

#216 add mouse-pointer-click icon
  icons/mouse-pointer-click.svg
Labels: 🎨 Icon

#247 Refactor sun icons
  icons/haze.svg
  icons/sun.svg
  icons/sunrise.svg
  icons/sunset.svg
Labels: 🎨 Icon

#251 file-input and file-output
  icons/file-input.svg
  icons/file-output.svg
Labels: 🎨 Icon

#243 lucide-react - Generate types for all exported icons
  packages/lucide-react/build-types.js
  packages/lucide-react/package.json
Labels: ⚛️ Lucide React, 🐛 bug
