Repository lucide-icons/lucide, pull requests merged in 2021-09, with the labels that each got.

#308 Add timer-reset icon
  icons/timer-reset.svg
Labels: Stale

#201 add alarm-clock-off icon
  icons/alarm-clock-off.svg
Labels: 🎨 icon, Stale

#412 Fix sort icons, Switch asc desc stack
  icons/sort-asc.svg
  icons/sort-desc.svg
Labels: 🐛 bug, 🎨 icon
