Repository lucide-icons/lucide, pull requests merged in 2022-02, with the labels that each got.

#479 Add documentation Section to lucide.dev
  .vscode/settings.json
  docs/FIGMA_GUIDE.md
  docs/ICON_DESIGN_GUIDE.md
  docs/ILLUSTRATOR_GUIDE.md
  docs/INKSCAPE_GUIDE.md
  docs/comparison.md
  docs/index.md
  docs/installation.md
  docs/packages/lucide-preact.md
  docs/packages/lucide-static.md
  docs/packages/lucide-vue-next.md
  docs/packages/lucide-vue.md
  site/.gitignore
  site/package.json
  site/src/components/CopyButton.tsx
  site/src/components/DocsMenu.tsx
  site/src/components/Header.tsx
  site/src/components/HeadingAnchored.tsx
  site/src/components/HeadingNavigationProvider.tsx
  site/src/components/HeadingTreeMenu.tsx
  site/src/components/IconDetailOverlay.tsx
  site/src/components/IconList.tsx
  site/src/components/IconListItem.tsx
  site/src/components/Layout.tsx
  site/src/components/MobileMenu.tsx
  site/src/components/MobileNavigationProvider.tsx
  site/src/components/Package.tsx
  site/src/lib/docsMenuTree.ts
  site/src/lib/mdxComponents.tsx
  site/src/lib/theme.tsx
  site/src/pages/_app.tsx
  site/src/pages/docs/[docName].tsx
  site/src/pages/docs/index.tsx
  site/src/pages/icon/[iconName].tsx
  site/src/pages/index.tsx
  site/src/pages/license.tsx
  site/src/pages/packages/index.tsx
  site/yarn.lock
Labels: 🌍 site

#476 Lucide Svelte Package!
  .github/workflows/release.yml
  .github/workflows/test-lucide-svelte.yml
  docs/index.md
  docs/installation.md
  docs/packages/lucide-react.md
  docs/packages/lucide-svelte.md
  icons/superscript.svg
  icons/text-cursor-input.svg
  icons/text-cursor.svg
  package.json
  packages/lucide-preact/rollup.config.js
  packages/lucide-svelte/.gitignore
  packages/lucide-svelte/.npmignore
  packages/lucide-svelte/LICENSE
  packages/lucide-svelte/README.md
  packages/lucide-svelte/babel.config.js
  packages/lucide-svelte/jest.config.js
  packages/lucide-svelte/package.json
  packages/lucide-svelte/rollup.config.js
  packages/lucide-svelte/scripts/buildTypes.js
  packages/lucide-svelte/scripts/exportTemplate.js
  packages/lucide-svelte/src/Icon.svelte
  packages/lucide-svelte/src/defaultAttributes.js
  packages/lucide-svelte/src/icons/.gitkeep
  packages/lucide-svelte/src/lucide-svelte.js
  packages/lucide-svelte/svelte.config.js
  packages/lucide-svelte/tests/TestSlots.svelte
  packages/lucide-svelte/tests/__snapshots__/lucide-svelte.spec.js.snap
  packages/lucide-svelte/tests/lucide-svelte.spec.js
  rollup.plugins.js
  scripts/build/generateExportsFile.js
  scripts/build/generateIconFiles.js
  scripts/buildIcons.js
  site/src/lib/docsMenuTree.ts
  site/src/lib/packageData.tsx
  yarn.lock
Labels: 📦 new package

#505 Add Slots for lucide-vue & lucide-vue-next
  .github/workflows/test-lucide-vue-next.yml
  .github/workflows/test-lucide-vue.yml
  icons/superscript.svg
  packages/lucide-vue-next/jest.config.js
  packages/lucide-vue-next/package.json
  packages/lucide-vue-next/src/createVueComponent.js
  packages/lucide-vue-next/tests/__snapshots__/lucide-vue-next.spec.js.snap
  packages/lucide-vue-next/tests/lucide-vue-next.spec.js
  packages/lucide-vue/jest.config.js
  packages/lucide-vue/package.json
  packages/lucide-vue/src/createVueComponent.js
  packages/lucide-vue/tests/__snapshots__/lucide-vue.spec.js.snap
  packages/lucide-vue/tests/lucide-vue.spec.js
  yarn.lock
Labels: 💎 vue package

#474 add package plus, minus, x, search, check icons
  icons/package-check.svg
  icons/package-minus.svg
  icons/package-plus.svg
  icons/package-search.svg
  icons/package-x.svg
  tags.json
Labels: 🎨 icon
