Repository lucide-icons/lucide, pull requests merged in 2023-11, with the labels that each got.

#1656 fix export IconNode type
  packages/lucide/rollup.config.mjs
  packages/lucide/src/lucide.ts
Labels: 🧳 lucide package

#1438 Adds `ribbon`
  icons/ribbon.json
  icons/ribbon.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1642 Linting SVG files
  .eslintignore
  .eslintrc.js
  .github/workflows/linting.yml
  .github/workflows/pull-request.yml
  .vscode/settings.json
  icons/spline.json
  icons/umbrella-off.json
  package.json
  packages/lucide-angular/karma.conf.js
  packages/lucide-vue/nuxt.js
  packages/lucide-vue/package.json
  pnpm-lock.yaml
  tools/build-icons/building/generateIconFiles.mjs
  tsconfig.json
Labels: 📦 dependencies, 💎 vue package, 🫧 metadata, 🅰️ angular package

#1628 Renamed alarm-check to alarm-clock-check
  icons/alarm-clock-check.json
  icons/alarm-clock-check.svg
Labels: 🎨 icon, 🫧 metadata

#1674 [site/docs] Replace "Do" with "Don't" in Pixel perfection bad example
  docs/images/pixel-perfection-bad.svg
Labels: 🌍 site

#1684 Update Angular logo on site
  docs/public/framework-logos/angular.svg
Labels: 🌍 site

#1657 Improve license notice in packages
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide-vue.yml
  .github/workflows/lucide.yml
  packages/lucide-static/package.json
  packages/lucide-static/scripts/buildLib.mjs
  packages/lucide-static/scripts/copyIcons.mjs
  packages/lucide-static/scripts/generateSprite.mjs
  packages/lucide-static/scripts/readSvgs.mjs
  pnpm-lock.yaml
  tools/rollup-plugins/package.json
  tools/rollup-plugins/plugins.js
Labels: 📦 dependencies, 🪨 static package

#1663 `lucide-vue` Deprecation warning
  docs/guide/packages/lucide-vue.md
  packages/lucide-vue/src/createVueComponent.ts
Labels: 📖 documentation, 🌍 site

#1689 Improve Adobe Illustrator template
  docs/public/templates/illustrator_template.ai
Labels: 🌍 site

#1696 Support Angular 17
  packages/lucide-angular/package.json
Labels: 🅰️ angular package

#1664 Fixed Illustrator template link + fixed typo
  CONTRIBUTING.md
  docs/guide/design/illustrator-guide.md
Labels: 📖 documentation, 🌍 site

#1698 Fix lint errors SVG files
  icons/cassette-tape.svg
  icons/drama.svg
  icons/life-buoy.svg
  icons/rotate-ccw.svg
  icons/spade.svg
  icons/store.svg
  icons/text-cursor-input.svg
  icons/theater.svg
Labels: 🎨 icon

#1691 Make sure we apply all classes to the lucide icons
  packages/lucide-angular/src/lib/lucide-angular.component.spec.ts
  packages/lucide-preact/package.json
  packages/lucide-preact/src/createLucideIcon.ts
  packages/lucide-preact/tests/__snapshots__/lucide-preact.spec.tsx.snap
  packages/lucide-preact/tests/lucide-preact.spec.tsx
  packages/lucide-preact/tsconfig.json
  packages/lucide-react/package.json
  packages/lucide-react/src/createLucideIcon.ts
  packages/lucide-react/tests/__snapshots__/lucide-react.spec.tsx.snap
  packages/lucide-react/tests/lucide-react.spec.tsx
  packages/lucide-react/tsconfig.json
  packages/lucide-solid/package.json
  packages/lucide-solid/tests/lucide-solid.spec.tsx
  packages/lucide-solid/tsconfig.json
  packages/lucide-static/scripts/buildLib.mjs
  packages/lucide-static/scripts/copyIcons.mjs
  packages/lucide-svelte/package.json
  packages/lucide-svelte/tests/lucide-svelte.spec.ts
  packages/lucide-svelte/tsconfig.json
  packages/lucide-vue-next/package.json
  packages/lucide-vue-next/src/createLucideIcon.ts
  packages/lucide-vue-next/tests/__snapshots__/lucide-vue-next.spec.ts.snap
  packages/lucide-vue-next/tests/lucide-vue-next.spec.ts
  packages/lucide-vue/package.json
  packages/lucide-vue/tests/lucide-vue.spec.ts
  pnpm-lock.yaml
Labels: 📦 dependencies, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧣 svelte package, 🪝 solid package

#1704 Update README.md
  packages/lucide-static/README.md
Labels: 🪨 static package

#1699 Update site dependencies & small fixes
  docs/.vitepress/lib/createCodeExamples.ts
  docs/.vitepress/theme/components/PageContainer.vue
  docs/.vitepress/theme/components/base/ColorPicker.vue
  docs/.vitepress/theme/components/base/RangeSlider.vue
  docs/.vitepress/theme/components/home/HomeIconCustomizer.vue
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site
