Repository lucide-icons/lucide, pull requests merged in 2023-06, with the labels that each got.

#1190 Added round corners to `network`
  icons/network.svg
Labels: Stale

#1188 Changed `binary`
  icons/binary.svg
  icons/file-digit.svg
Labels: Stale

#1348 General improvements in documentation
  docs/.vitepress/lib/icons.ts
  docs/.vitepress/theme/components/home/HomeIconCustomizer.vue
  docs/guide/installation.md
  docs/guide/packages/lucide-angular.md
  docs/guide/packages/lucide-preact.md
  docs/guide/packages/lucide-react-native.md
  docs/guide/packages/lucide-react.md
  docs/guide/packages/lucide-solid.md
  docs/guide/packages/lucide-static.md
  docs/guide/packages/lucide-svelte.md
  docs/guide/packages/lucide-vue-next.md
  docs/guide/packages/lucide-vue.md
  docs/guide/packages/lucide.md
  docs/vercel.json
  icons/circle-slash-2.json
Labels: 📖 documentation, 🌍 site

#1361 Improve dashed icons metadata
  icons/box-select.json
  icons/flip-horizontal-2.json
  icons/flip-horizontal.json
  icons/flip-vertical-2.json
  icons/flip-vertical.json
  icons/focus.json
  icons/group.json
  icons/maximize.json
  icons/refresh-ccw-dot.json
  icons/scan-face.json
  icons/scan-line.json
  icons/scan.json
  icons/text-select.json
  icons/ticket.json
Labels: 🫧 metadata

#1389 Add `gallery` icons
  icons/gallery-horizontal-end.json
  icons/gallery-horizontal-end.svg
  icons/gallery-horizontal.json
  icons/gallery-horizontal.svg
  icons/gallery-thumbnails.json
  icons/gallery-thumbnails.svg
  icons/gallery-vertical-end.json
  icons/gallery-vertical-end.svg
  icons/gallery-vertical.json
  icons/gallery-vertical.svg
Labels: 🎨 icon, 🌍 site, 🫧 metadata

#1376 Add `area-chart` icon
  icons/area-chart.json
  icons/area-chart.svg
Labels: 🎨 icon, 🫧 metadata

#1408 Small fixes site
  docs/.vitepress/theme/components/base/Tooltip.vue
  docs/.vitepress/theme/components/icons/CopySVGButton.vue
  docs/.vitepress/theme/components/icons/IconGrid.vue
  docs/.vitepress/theme/components/icons/IconItem.vue
  docs/.vitepress/theme/composables/useConfetti.ts
  docs/.vitepress/theme/utils/downloadData.ts
  docs/.vitepress/theme/utils/getSVGIcon.ts
  docs/guide/packages/lucide-react.md
  docs/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site

#1414 Bump Vitest and his dependencies
  package.json
  packages/lucide-figma/package.json
  packages/lucide-preact/package.json
  packages/lucide-preact/tests/__snapshots__/lucide-preact.spec.tsx.snap
  packages/lucide-react-native/package.json
  packages/lucide-react-native/tests/__snapshots__/lucide-react-native.spec.tsx.snap
  packages/lucide-react/package.json
  packages/lucide-react/tests/__snapshots__/lucide-react.spec.tsx.snap
  packages/lucide-solid/package.json
  packages/lucide-solid/tests/__snapshots__/lucide-solid.spec.tsx.snap
  packages/lucide-solid/vitest.config.ts
  packages/lucide-svelte/package.json
  packages/lucide-svelte/tests/__snapshots__/lucide-svelte.spec.ts.snap
  packages/lucide-svelte/tests/lucide-svelte.spec.ts
  packages/lucide-svelte/vitest.config.ts
  packages/lucide-vue-next/package.json
  packages/lucide-vue/package.json
  packages/lucide/package.json
  packages/lucide/tests/__snapshots__/lucide.spec.js.snap
  packages/lucide/tests/__snapshots__/replaceElement.spec.js.snap
  pnpm-lock.yaml
Labels: 📦 dependencies, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package
