Repository lucide-icons/lucide, pull requests merged in 2023-09, with the labels that each got.

#1506 Refine `film`/`clapperboard` icons
  icons/clapperboard.json
  icons/clapperboard.svg
  icons/film.json
  icons/film.svg
Labels: 🎨 icon, 🫧 metadata

#1241 Add `slash` icon/improve [`*-`]`slash` metadata
  icons/circle-slash-2.json
  icons/circle-slash.json
  icons/copy-slash.json
  icons/slash.json
  icons/slash.svg
  icons/square-slash.json
Labels: 🎨 icon, Stale, 🫧 metadata

#1547 Improve clarity and readability of packages guides in docs
  docs/guide/packages/lucide-preact.md
  docs/guide/packages/lucide-react-native.md
  docs/guide/packages/lucide-react.md
  docs/guide/packages/lucide-solid.md
  docs/guide/packages/lucide-svelte.md
  docs/guide/packages/lucide-vue-next.md
  docs/guide/packages/lucide-vue.md
Labels: 📖 documentation, 🌍 site

#1548 Adjust export order Lucide Svelte
  packages/lucide-svelte/package.json
Labels: 🧣 svelte package

#1549 Generated aliases for Weird NextJS Case transformations
  .github/workflows/lucide-react.yml
  icons/arrow-down-0-1.json
  icons/arrow-down-1-0.json
  icons/arrow-down-a-z.json
  icons/arrow-down-z-a.json
  icons/arrow-up-0-1.json
  icons/arrow-up-1-0.json
  icons/arrow-up-a-z.json
  icons/arrow-up-z-a.json
  icons/axis-3d.json
  icons/file-axis-3d.json
  icons/grid-2x2.json
  icons/grid-3x3.json
  icons/move-3d.json
  icons/rotate-3d.json
  icons/scale-3d.json
  package.json
  scripts/generateNextJSAliases.mjs
  tools/build-icons/building/generateAliasesFile.mjs
Labels: 🫧 metadata

#1545 Replace sun-moon icon
  icons/sun-moon.json
  icons/sun-moon.svg
Labels: 🎨 icon, 🫧 metadata

#1544 Add bot-2 icon
  icons/bot.json
  icons/bot.svg
Labels: 🎨 icon, 🫧 metadata

#1555 Remove conflicting alias: `slash`
  icons/ban.json
Labels: 🫧 metadata

#1337 Add speech icon
  icons/speech.json
  icons/speech.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1259 Add missing `bookmark-*` icons
  icons/bookmark-check.json
  icons/bookmark-check.svg
  icons/bookmark-x.json
  icons/bookmark-x.svg
Labels: 🎨 icon, 🌍 site, Stale, 🫧 metadata

#1474 Add theater/drama icons
  icons/drama.json
  icons/drama.svg
  icons/theater.json
  icons/theater.svg
Labels: 🎨 icon, 🫧 metadata

#1565 chore: added `"dropdown"` to tags
  icons/chevron-down.json
  icons/chevron-up.json
Labels: 🫧 metadata

#1569 Fix Solid type declarations
  packages/lucide-solid/package.json
Labels: 🪝 solid package

#1571 Update gift.svg
  icons/gift.json
  icons/gift.svg
Labels: 🎨 icon, 🫧 metadata

#1573 feat: optimized uncategorized icons
  icons/bomb.svg
  icons/copyleft.svg
  icons/copyright.svg
  icons/subtitles.svg
Labels: 🎨 icon
