Repository lucide-icons/lucide, pull requests merged in 2023-07, with the labels that each got.

#1397 Improve release workflow
  .github/actions/build-and-test.yml
  .github/actions/check-icons.yml
  .github/workflows/ci.yml
  .github/workflows/lucide-angular.yml
  .github/workflows/lucide-font.yml
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-static.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide-vue.yml
  .github/workflows/lucide.yml
  .github/workflows/release.yml
  packages/lucide-angular/package.json
  packages/lucide-figma/package.json
  packages/lucide-flutter/pubspec.yaml
  packages/lucide-preact/package.json
  packages/lucide-react-native/package.json
  packages/lucide-react/package.json
  packages/lucide-solid/package.json
  packages/lucide-static/package.json
  packages/lucide-svelte/package.json
  packages/lucide-vue-next/package.json
  packages/lucide-vue/package.json
  packages/lucide/package.json
Labels: ⚛️ react package, 💎 vue package, 🏹 flutter package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package, 🅰️ angular package, 🪨 static package

#1424 Improve types export for lucide-react
  .gitignore
  docs/guide/packages/lucide-react.md
  packages/lucide-react/README.md
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
  packages/lucide-react/scripts/buildTypes.mjs
  packages/lucide-react/scripts/exportTemplate.mjs
  packages/lucide-react/src/createLucideIcon.ts
  packages/lucide-react/src/lucide-react.ts
  packages/lucide-react/tests/__snapshots__/lucide-react.spec.tsx.snap
  packages/lucide-react/tests/lucide-react.spec.tsx
  pnpm-lock.yaml
  tools/build-icons/building/generateDynamicImports.mjs
  tools/build-icons/building/generateIconFiles.mjs
  tools/build-icons/main.mjs
Labels: 📖 documentation, 📦 dependencies, 🌍 site, ⚛️ react package

#1318 Add `hard-drive-`[`up`/`down`]`load` icons
  icons/download.json
  icons/hard-drive-download.json
  icons/hard-drive-download.svg
  icons/hard-drive-upload.json
  icons/hard-drive-upload.svg
Labels: 🎨 icon, 🫧 metadata

#1249 Add `boombox` icon
  icons/boom-box.json
  icons/boom-box.svg
Labels: 🎨 icon, 🫧 metadata

#1425 Add forward and backward overlap icons
  icons/bring-to-front.json
  icons/bring-to-front.svg
  icons/send-to-back.json
  icons/send-to-back.svg
Labels: 🎨 icon, 🫧 metadata

#1440 Move dynamicImportFile to dedicated file
  docs/guide/packages/lucide-react.md
  packages/lucide-react/README.md
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
  packages/lucide-react/src/lucide-react.ts
  packages/lucide-react/tests/lucide-react.spec.tsx
Labels: 📖 documentation, 🌍 site, ⚛️ react package

#1442 Refine [`pencil-`]`ruler` icons
  icons/pencil-ruler.svg
  icons/ruler.svg
Labels: 🎨 icon

#1452 Fix imports poiting to non existent files
  packages/lucide-react/package.json
Labels: ⚛️ react package
