Repository lucide-icons/lucide, pull requests merged in 2023-08, with the labels that each got.

#1471 Revert .mjs modules in build for Lucide React
  .gitignore
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
Labels: ⚛️ react package

#1055 Add `blocks` icons
  icons/blocks.json
  icons/blocks.svg
  icons/grid-2x2.json
  icons/grid-2x2.svg
  icons/grid-3x3.json
  icons/grid-3x3.svg
  icons/grid.svg
Labels: 🎨 icon, 🫧 metadata

#1491 Update Site to Vitepress 1.0.0-rc.4 and fix gh-icon api
  docs/.vitepress/config.ts
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site

#1157 Improve `utility-pole` metadata
  icons/utility-pole.json
Labels: Stale, 🫧 metadata

#1225 fix: cogs
  icons/brain-cog.svg
  icons/cloud-cog.svg
  icons/file-cog-2.json
  icons/file-cog-2.svg
  icons/file-cog.json
  icons/file-cog.svg
  icons/folder-cog-2.json
  icons/folder-cog-2.svg
  icons/folder-cog.json
  icons/folder-cog.svg
  icons/server-cog.svg
  icons/user-cog-2.svg
  icons/user-cog.svg
Labels: Stale

#1319 Add browser/dev tools icons
  icons/cpu.json
  icons/memory-stick.json
  icons/mouse-pointer-square-dashed.json
  icons/mouse-pointer-square-dashed.svg
  icons/mouse-pointer-square.json
  icons/mouse-pointer-square.svg
  icons/tablet-smartphone.json
  icons/tablet-smartphone.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1486 fix: generate alias files for nextjs import mapping
  .github/workflows/lucide-angular.yml
  .github/workflows/lucide-font.yml
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-static.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide-vue.yml
  .github/workflows/lucide.yml
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
  packages/lucide-react/scripts/getAliasesEntryNames.mjs
  tools/build-icons/building/generateAliasesFile.mjs
  tools/build-icons/main.mjs
Labels: ⚛️ react package

#1496 fix(icons): Rename `send-horizonal` to `send-horizontal`
  icons/send-horizontal.json
  icons/send-horizontal.svg
Labels: 🎨 icon, 🫧 metadata

#1481 Optimise `box`/`package` icons
  icons/box.svg
  icons/package-check.svg
  icons/package-minus.svg
  icons/package-plus.svg
  icons/package-search.svg
  icons/package-x.svg
  icons/package.svg
Labels: 🎨 icon

#1519 Added more tags to party-popper meta data
  icons/party-popper.json
Labels: 🫧 metadata

#1518 Updated icon design guide
  docs/guide/design/icon-design-guide.md
  docs/images/1px-border-radius.svg
  docs/images/2px-border-radius.svg
  docs/images/curvature-smooth.svg
  docs/images/curvature-uneven.svg
  docs/images/density-high.svg
  docs/images/density-ideal.svg
  docs/images/optical-volume-high.svg
  docs/images/optical-volume-ideal.svg
  docs/images/optical-volume-low.svg
  docs/images/pixel-perfection-bad.svg
  docs/images/pixel-perfection-ideal.svg
  docs/images/visually-centered-bad.svg
  docs/images/visually-centered.svg
Labels: 📖 documentation, 🌍 site

#1510 feat: added dpi preview
  .github/workflows/pull-request.yml
  docs/.vitepress/api/gh-icon/dpi/[...data].get.ts
  docs/.vitepress/api/gh-icon/dpi/loadWasm.ts
  docs/.vitepress/vue-shim.d.ts
  docs/nitro.config.ts
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site

#1533 [docs] Fixes icon design guide heading levels + naming mix-up
  docs/guide/design/icon-design-guide.md
Labels: 📖 documentation, 🌍 site

#1499 Add conditional exports property Lucide Svelte `package.json`
  packages/lucide-svelte/package.json
  packages/lucide-svelte/rollup.config.mjs
Labels: 🧣 svelte package

#1541 Optimize russian-ruble.svg
  icons/russian-ruble.svg
Labels: 🎨 icon

#1444 Improve [`send`/`bring`]`-to-`[`front`/`back`] metadata
  icons/bring-to-front.json
  icons/send-to-back.json
Labels: 🫧 metadata
