Repository lucide-icons/lucide, pull requests merged in 2023-12, with the labels that each got.

#1237 Optimise/rename `vote`/add `tab`[`-*`]/generic output icons
  icons/tab-arrow-down.json
  icons/tab-arrow-down.svg
  icons/tab-arrow-up-right.json
  icons/tab-arrow-up-right.svg
  icons/tab-check.json
  icons/tab-check.svg
  icons/tab-dot.json
  icons/tab-dot.svg
  icons/tab-plus.json
  icons/tab-plus.svg
  icons/tab-slash.json
  icons/tab-slash.svg
  icons/tab-text.json
  icons/tab-text.svg
  icons/tab-x.json
  icons/tab-x.svg
  icons/tab.json
  icons/tab.svg
  icons/vote.json
Labels: 🎨 icon, 🫧 metadata

#1267 Add `reel`/thread/`fabric`/pattern/`cloth` icons
  icons/cloth.json
  icons/cloth.svg
  icons/reel-thread.json
  icons/reel-thread.svg
  icons/yarn-ball.json
  icons/yarn-ball.svg
Labels: 🎨 icon, 🫧 metadata

#1394 Add wellbeing icons
  icons/candle-holder-lit.json
  icons/candle-holder-lit.svg
  icons/candle-holder.json
  icons/candle-holder.svg
  icons/candle-tealight-lit.json
  icons/candle-tealight-lit.svg
  icons/candle-tealight.json
  icons/candle-tealight.svg
  icons/candlestick-big-lit.json
  icons/candlestick-big-lit.svg
  icons/candlestick-big.json
  icons/candlestick-big.svg
  icons/candlestick-lit.json
  icons/candlestick-lit.svg
  icons/candlestick.json
  icons/candlestick.svg
  icons/fan-handheld.json
  icons/fan-handheld.svg
  icons/fan.json
  icons/flower-lotus.json
  icons/flower-lotus.svg
  icons/network.json
  icons/peace.json
  icons/peace.svg
  icons/triangle-stripes.json
  icons/triangle-stripes.svg
  icons/yin-yang.json
  icons/yin-yang.svg
Labels: 🎨 icon, Stale, 🫧 metadata, ❌ NO PR Checklist, 🪑 Needs use-cases

#1620 New icons: user-search and user-round-search
  icons/user-round-search.json
  icons/user-round-search.svg
  icons/user-search.json
  icons/user-search.svg
Labels: 🎨 icon, 🫧 metadata

#1350 Add format/data/`card` icons
  icons/card-credit.json
  icons/card-credit.svg
  icons/card-sd.json
  icons/card-sd.svg
  icons/card-sim.json
  icons/card-sim.svg
  icons/credit-card.json
  icons/floppy-disk-2.json
  icons/floppy-disk-2.svg
  icons/floppy-disk-rear.json
  icons/floppy-disk-rear.svg
  icons/floppy-disk.json
  icons/floppy-disk.svg
  icons/floppy-disks-2.json
  icons/floppy-disks-2.svg
  icons/floppy-disks-rear.json
  icons/floppy-disks-rear.svg
  icons/floppy-disks.json
  icons/floppy-disks.svg
  icons/save-all.json
  icons/save.json
  icons/slot-card-credit.json
  icons/slot-card-credit.svg
  icons/slot-card.json
  icons/slot-card.svg
  icons/slot-disc.json
  icons/slot-disc.svg
  icons/smartphone.json
Labels: 🎨 icon, Stale, 🫧 metadata

#1293 Add `squircle`
  icons/squircle.json
  icons/squircle.svg
Labels: 🎨 icon, 🫧 metadata

#1567 feat: added pointer-off icon
  icons/pointer-off.json
  icons/pointer-off.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1304 Add sport icons
  icons/baseball.json
  icons/baseball.svg
  icons/basketball.json
  icons/basketball.svg
  icons/bat-ball.json
  icons/bat-ball.svg
  icons/bowling.json
  icons/bowling.svg
  icons/cricket-ball.json
  icons/cricket-ball.svg
  icons/cricket-wicket.json
  icons/cricket-wicket.svg
  icons/football-goal.json
  icons/football-goal.svg
  icons/football-helmet.json
  icons/football-helmet.svg
  icons/football.json
  icons/football.svg
  icons/gearbox-square.json
  icons/gearbox-square.svg
  icons/gearbox.json
  icons/gearbox.svg
  icons/goal-net.json
  icons/goal-net.svg
  icons/golf-driver.json
  icons/golf-driver.svg
  icons/hockey-mask.json
  icons/hockey-mask.svg
  icons/hockey.json
  icons/hockey.svg
  icons/ice-hockey.json
  icons/ice-hockey.svg
  icons/ice-skate.json
  icons/ice-skate.svg
  icons/motor-racing-helmet.json
  icons/motor-racing-helmet.svg
  icons/rugby.json
  icons/rugby.svg
  icons/soccer-ball.json
  icons/soccer-ball.svg
  icons/soccer-pitch.json
  icons/soccer-pitch.svg
  icons/steering-wheel.json
  icons/steering-wheel.svg
  icons/target-arrow.json
  icons/target-arrow.svg
  icons/target.json
  icons/tennis-ball.json
  icons/tennis-ball.svg
  icons/tennis-racket.json
  icons/tennis-racket.svg
  icons/volleyball.json
  icons/volleyball.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1630 feat: added renameIcon script
  scripts/renameIcon.mjs
Labels: Stale

#1392 Add `fire`/safety/security/amenities icons
  .github/workflows/pull-request.yml
  icons/alarm-smoke.json
  icons/alarm-smoke.svg
  icons/axe.json
  icons/bell-electric.json
  icons/bell-electric.svg
  icons/cctv.json
  icons/cctv.svg
  icons/fire-extinguisher.json
  icons/fire-extinguisher.svg
  icons/flame.json
Labels: 🎨 icon, Stale, 🫧 metadata

#1410 Add additional food icons
  icons/bowl-chopsticks.json
  icons/bowl-chopsticks.svg
  icons/bowl-overflow.json
  icons/bowl-overflow.svg
  icons/egg-cup.json
  icons/egg-cup.svg
  icons/meal-box.json
  icons/meal-box.svg
  icons/mortar-pestle.json
  icons/mortar-pestle.svg
  icons/sushi-2.json
  icons/sushi-2.svg
  icons/sushi-3.json
  icons/sushi-3.svg
  icons/sushi-chopsticks.json
  icons/sushi-chopsticks.svg
  icons/sushi.json
  icons/sushi.svg
  icons/toast.json
  icons/toast.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1653 Update README.md
  README.md
Labels: Stale

#1728 Updating packages 📦
  package.json
  packages/lucide-solid/package.json
  packages/lucide-solid/tests/__snapshots__/lucide-solid.spec.tsx.snap
  packages/lucide-solid/tests/lucide-solid.spec.tsx
  packages/lucide-solid/vitest.config.ts
  pnpm-lock.yaml
Labels: 📦 dependencies, 🪝 solid package

#1732 Add support for react-native-svg ^14.0.0
  docs/guide/packages/lucide-react-native.md
  packages/lucide-react-native/README.md
  packages/lucide-react-native/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site, ⚛️ react native package

#1407 Add materials icons
  icons/anvil.json
  icons/anvil.svg
  icons/brick-wall.json
  icons/brick-wall.svg
  icons/fence.json
  icons/fence.svg
  icons/inspection-panel.json
  icons/inspection-panel.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1734 Add more tags
  icons/atom.json
  icons/battery-charging.json
  icons/battery-full.json
  icons/battery-low.json
  icons/battery-medium.json
  icons/battery-warning.json
  icons/battery.json
  icons/cable.json
  icons/circuit-board.json
  icons/plug-2.json
  icons/plug-zap-2.json
  icons/plug-zap.json
  icons/plug.json
  icons/unplug.json
  icons/utility-pole.json
  icons/zap-off.json
  icons/zap.json
Labels: 🫧 metadata

#1737 Add cooking-pot icon
  icons/cooking-pot.json
  icons/cooking-pot.svg
Labels: 🎨 icon, 🫧 metadata

#1744 Fix `gavel` gap
  icons/gavel.json
  icons/gavel.svg
Labels: 🎨 icon, 🫧 metadata

#1707 Fixed export maps, types, and packaging for `lucide-svelte`
  packages/lucide-svelte/.gitignore
  packages/lucide-svelte/package.json
  packages/lucide-svelte/rollup.config.mjs
  packages/lucide-svelte/scripts/addLicense.mjs
  packages/lucide-svelte/scripts/exportTemplate.mjs
  packages/lucide-svelte/src/lucide-svelte.ts
  packages/lucide-svelte/src/types.ts
  pnpm-lock.yaml
Labels: 📦 dependencies, 🧣 svelte package

#1222 Add `font-size` icons
  icons/a-arrow-down.json
  icons/a-arrow-down.svg
  icons/a-arrow-up.json
  icons/a-arrow-up.svg
  icons/a-large-small.json
  icons/a-large-small.svg
Labels: 🎨 icon, 🫧 metadata

#1538 Adds `tire` and `wheel` icons
  icons/tire.json
  icons/tire.svg
  icons/wheel.json
  icons/wheel.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1721 Adding documentation about Global Styling
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/style.css
  docs/guide/advanced/examples/filled-icon-example/App.js
  docs/guide/advanced/examples/filled-icon-example/files.ts
  docs/guide/advanced/examples/filled-icon-example/icon.css
  docs/guide/advanced/examples/global-styling-absolute-strokewidth-example/App.js
  docs/guide/advanced/examples/global-styling-absolute-strokewidth-example/files.ts
  docs/guide/advanced/examples/global-styling-absolute-strokewidth-example/icon.css
  docs/guide/advanced/examples/global-styling-css-example/App.js
  docs/guide/advanced/examples/global-styling-css-example/files.ts
  docs/guide/advanced/examples/global-styling-css-example/icon.css
  docs/guide/advanced/filled-icons.md
  docs/guide/advanced/global-styling.md
Labels: 📖 documentation, 🌍 site

#1763 Automatic optimisation of `rabbit` icon
  icons/rabbit.svg
Labels: 🎨 icon

#1764 Automatic optimisation of `squirrel` icon
  icons/squirrel.svg
Labels: 🎨 icon

#1629 Renamed alarm-minus to alarm-clock-minus
  icons/alarm-clock-minus.json
  icons/alarm-clock-minus.svg
  icons/alarm-clock-plus.json
  icons/alarm-clock-plus.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1500 Sort `rows`/`columns` icons
  icons/columns-2.json
  icons/columns-2.svg
  icons/columns-3.json
  icons/columns-3.svg
  icons/columns-4.json
  icons/columns-4.svg
  icons/columns.json
  icons/rows-2.json
  icons/rows-2.svg
  icons/rows-3.json
  icons/rows-3.svg
  icons/rows-4.json
  icons/rows-4.svg
Labels: 🎨 icon, Stale, 🫧 metadata
