Repository lucide-icons/lucide, pull requests merged in 2023-10, with the labels that each got.

#1563 feat: changed `mouse-pointer-click`
  icons/mouse-pointer-click.json
  icons/mouse-pointer-click.svg
Labels: 🎨 icon, 🫧 metadata

#1346 Lock icons
  icons/lock-keyhole.json
  icons/lock-keyhole.svg
  icons/unlock-keyhole.json
  icons/unlock-keyhole.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1521 Add Lucide basics guide on site
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/sandpackTheme.json
  docs/.vitepress/theme/style.css
  docs/guide/advanced/accessibility.md
  docs/guide/advanced/filled-icons.md
  docs/guide/basics/color.md
  docs/guide/basics/examples/absolute-stroke-width-icon/App.js
  docs/guide/basics/examples/absolute-stroke-width-icon/files.ts
  docs/guide/basics/examples/button-example/App.js
  docs/guide/basics/examples/button-example/Button.jsx
  docs/guide/basics/examples/button-example/files.ts
  docs/guide/basics/examples/color-icon/App.js
  docs/guide/basics/examples/color-icon/files.ts
  docs/guide/basics/examples/size-icon-css-example/App.js
  docs/guide/basics/examples/size-icon-css-example/files.ts
  docs/guide/basics/examples/size-icon-css-example/icon.css
  docs/guide/basics/examples/size-icon-example/App.js
  docs/guide/basics/examples/size-icon-example/files.ts
  docs/guide/basics/examples/size-icon-font-example/App.js
  docs/guide/basics/examples/size-icon-font-example/files.ts
  docs/guide/basics/examples/size-icon-font-example/icon.css
  docs/guide/basics/examples/size-icon-tailwind-example/App.js
  docs/guide/basics/examples/size-icon-tailwind-example/files.ts
  docs/guide/basics/examples/stroke-width-icon/App.js
  docs/guide/basics/examples/stroke-width-icon/files.ts
  docs/guide/basics/examples/styles.css
  docs/guide/basics/sizing.md
  docs/guide/basics/stroke-width.md
  docs/guide/how-to-use-icons.md
  docs/images/absolute-stroke-width-compare.png
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site

#1570 feat: added image-down icon
  icons/image-down.json
  icons/image-down.svg
Labels: 🎨 icon, 🫧 metadata

#1568 feat: added umbrella-off icon
  icons/umbrella-off.json
  icons/umbrella-off.svg
Labels: 🎨 icon, 🫧 metadata

#1593 Remove lucide-flutter form the main repo
  README.md
  docs/guide/packages/lucide-flutter.md
  packages/lucide-flutter/.gitignore
  packages/lucide-flutter/CHANGELOG.md
  packages/lucide-flutter/README.md
  packages/lucide-flutter/analysis_option.yaml
  packages/lucide-flutter/example/README.md
  packages/lucide-flutter/lib/lucide_icons.dart
  packages/lucide-flutter/lib/src/icon_data.dart
  packages/lucide-flutter/pubspec.yaml
  packages/lucide-flutter/test/icon_test.dart
  packages/lucide-flutter/tool/generate_fonts.dart
Labels: 📖 documentation, 🌍 site, 🏹 flutter package

#1605 Fixes some over-optimisation done in #1573
  icons/bomb.svg
  icons/copyleft.svg
  icons/copyright.svg
Labels: 🎨 icon

#1611 Optimized `backpack` icon
  icons/backpack.svg
Labels: 🎨 icon

#1564 add info about dynamic imports to nextjs docs
  docs/guide/packages/lucide-react.md
  packages/lucide-react/README.md
Labels: 📖 documentation, 🌍 site, ⚛️ react package

#1606 Optimized globe
  icons/globe.svg
Labels: 🎨 icon

#1592 Alias support for lucide package
  packages/lucide/package.json
  packages/lucide/rollup.config.mjs
  packages/lucide/src/iconsAndAliases.ts
  packages/lucide/src/lucide.ts
  packages/lucide/src/replaceElement.ts
  packages/lucide/tests/__snapshots__/lucide.spec.js.snap
  packages/lucide/tests/lucide.spec.js
  tools/build-icons/building/generateAliasesFile.mjs
  tools/build-icons/main.mjs
Labels: 🧳 lucide package

#1589 fix/docs: release tags don't work for newly-created/updated icons
  docs/.vitepress/theme/components/home/HomeHeroBefore.vue
  docs/.vitepress/theme/components/icons/IconDetailOverlay.vue
  docs/icons/[name].md
  docs/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site

#1621 typo fixed
  docs/guide/design/illustrator-guide.md
Labels: 📖 documentation, 🌍 site

#1223 feat: improved folder cohesion
  icons/folder-archive.svg
  icons/folder-check.svg
  icons/folder-clock.svg
  icons/folder-closed.svg
  icons/folder-cog.svg
  icons/folder-down.svg
  icons/folder-edit.svg
  icons/folder-git.svg
  icons/folder-heart.svg
  icons/folder-input.svg
  icons/folder-key.svg
  icons/folder-lock.svg
  icons/folder-minus.svg
  icons/folder-open.svg
  icons/folder-plus.svg
  icons/folder-search-2.svg
  icons/folder-search.svg
  icons/folder-tree.svg
  icons/folder-up.svg
  icons/folder-x.svg
  icons/folder.svg
  icons/folders.svg
Labels: 🎨 icon

#1610 Optimized `armchair` icon
  icons/armchair.svg
Labels: 🎨 icon

#1632 feat: added linting and formatting of icon and category json files
  category.schema.json
  icon.schema.json
  package.json
  pnpm-lock.yaml
Labels: 📦 dependencies

#1647 Rebuild tree-deciduous using arcs
  icons/tree-deciduous.svg
Labels: 🎨 icon

#1651 Fixed gaps in `cake` icon
  icons/cake.json
  icons/cake.svg
Labels: 🎨 icon, 🫧 metadata

#1641 [lucide-angular] Simplified LucideIconData
  packages/lucide-angular/.eslintrc.js
  packages/lucide-angular/scripts/exportTemplate.mjs
  packages/lucide-angular/src/icons/constants/default-attributes.ts
  packages/lucide-angular/src/icons/types/index.ts
  packages/lucide-angular/src/lib/icons.provider.ts
  packages/lucide-angular/src/lib/lucide-angular.component.spec.ts
  packages/lucide-angular/src/lib/lucide-angular.component.ts
  packages/lucide-angular/src/lib/lucide-angular.module.ts
  packages/lucide-angular/src/lib/lucide-icon.config.ts
  packages/lucide-angular/src/lib/lucide-icon.provider.ts
Labels: 🅰️ angular package
