Repository lucide-icons/lucide, pull requests merged in 2024-08, with the labels that each got.

#2287 feat(icons): added `circle-fading-arrow-up` icon
  icons/circle-fading-arrow-up.json
  icons/circle-fading-arrow-up.svg
Labels: 🎨 icon, 🫧 metadata

#2352 fix(icons): changed `cloud-upload` icon
  icons/cloud-upload.json
  icons/cloud-upload.svg
Labels: 🎨 icon, 🫧 metadata

#2351 fix(icons): changed `calendar-search` icon
  icons/calendar-search.json
  icons/calendar-search.svg
Labels: 🎨 icon, 🫧 metadata

#2347 feat(icons): add omega icon
  icons/omega.json
  icons/omega.svg
  icons/sigma.json
Labels: 🎨 icon, 🫧 metadata

#2331 fix(icons): changed `square-check-big` icon
  icons/square-check-big.json
  icons/square-check-big.svg
Labels: 🎨 icon, 🫧 metadata

#2355 fix(icons): update `cloud-download` icon and close gaps
  icons/cloud-download.svg
Labels: 🎨 icon

#2330 fix(icons): changed `circle-check-big` icon
  icons/circle-check-big.json
  icons/circle-check-big.svg
Labels: 🎨 icon, 🫧 metadata

#1918 fix(icons): update `pentagon` icon
  icons/pentagon.json
  icons/pentagon.svg
Labels: 🎨 icon, 🫧 metadata

#1982 feat(icons): adds microchip icon
  icons/microchip.json
  icons/microchip.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2197 fix(icons): arcified `skull` icon
  icons/skull.svg
Labels: 🎨 icon

#1926 feat(icons): added `amphora` icon
  icons/amphora.json
  icons/amphora.svg
Labels: 🎨 icon, 🫧 metadata

#2333 refactor(icons): changed `replace` and `replace-all` icon
  icons/replace-all.svg
  icons/replace.svg
Labels: 🎨 icon

#2337 feat(icons): add map-pin-house icon
  icons/map-pin-house.json
  icons/map-pin-house.svg
Labels: 🎨 icon, 🫧 metadata

#2357 chore(icons): add tag to ellipsis icons
  icons/circle-ellipsis.json
  icons/ellipsis-vertical.json
  icons/ellipsis.json
  icons/rectangle-ellipsis.json
Labels: 🫧 metadata

#2360 chore(docs): fixed footer typo
  docs/.vitepress/theme/components/overrides/VPFooter.vue
Labels: 🌍 site

#2350 fix(icons): add rounding to mouse pointer icons
  icons/mouse-pointer-2.svg
  icons/mouse-pointer-ban.svg
  icons/mouse-pointer-click.svg
  icons/mouse-pointer.svg
  icons/square-dashed-mouse-pointer.svg
  icons/square-mouse-pointer.svg
Labels: 🎨 icon

#2348 fix(icons): add table-of-contents icon
  .cspell/custom-words.txt
  icons/table-of-contents.json
  icons/table-of-contents.svg
Labels: 🎨 icon, 🫧 metadata

#2341 feat(icons): add bandage icon
  icons/bandage.json
  icons/bandage.svg
Labels: 🎨 icon, 🫧 metadata

#2282 fix(icons): changed `cigarette-*` icons
  icons/cigarette-off.json
  icons/cigarette-off.svg
  icons/cigarette.json
  icons/cigarette.svg
Labels: 🎨 icon, 🫧 metadata

#2120 feat(icons): Add `ethernet-port` and `chevrons-left-right-ellipsis` icons
  icons/chevrons-left-right-ellipsis.json
  icons/chevrons-left-right-ellipsis.svg
  icons/ethernet-port.json
  icons/ethernet-port.svg
Labels: 🎨 icon, 🫧 metadata

#2207 feat(icons): added binoculars icon
  icons/binoculars.json
  icons/binoculars.svg
Labels: 🎨 icon, 🫧 metadata

#2335 feat(icons): added `tickets` icon
  icons/tickets.json
  icons/tickets.svg
Labels: 🎨 icon, 🫧 metadata

#2354 fix(icons): changed `folder-search` icon
  icons/folder-search.json
  icons/folder-search.svg
Labels: 🎨 icon, 🫧 metadata

#2196 feat(icons): added `tickets-plane` icon
  icons/tickets-plane.json
  icons/tickets-plane.svg
Labels: 🎨 icon, 🫧 metadata

#2374 fix(icons): changed `message-square-dashed` icon
  icons/message-square-dashed.json
  icons/message-square-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#2383 feat(docs): add standalone example for angular
  docs/guide/packages/lucide-angular.md
Labels: 📖 documentation, 🌍 site

#2379 fix(icons): fix stethoscope guideline violations
  icons/stethoscope.svg
Labels: 🎨 icon

#2384 Add the sustainability category to some existing icons
  icons/leafy-green.json
  icons/sprout.json
  icons/sun.json
  icons/tree-deciduous.json
  icons/tree-palm.json
  icons/tree-pine.json
  icons/trees.json
  icons/waves.json
  icons/wind.json
Labels: 🫧 metadata

#2382 Fixes #2010 : Changed the value of major grid lines from 5 to 6 in INKSCAPE
  docs/images/grid-2.png
Labels: 🌍 site

#2392 feat(icons): added `chart-gantt` icon
  icons/chart-gantt.json
  icons/chart-gantt.svg
Labels: 🎨 icon, 🫧 metadata

#2391 fix(icons): changed `contact-*` icon
  icons/contact-round.json
  icons/contact-round.svg
  icons/contact.json
  icons/contact.svg
Labels: 🎨 icon, 🫧 metadata

#2381 style: added text-wrap balance to TeamMemberCard.vue
  docs/.vitepress/theme/components/home/TeamMemberCard.vue
Labels: 🌍 site

#2377 chore(site): Update vitepress to `1.3.1`
  docs/index.md
  docs/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site

#2375 fix(lucide-solid): compilation issues when starting up Vite Dev server
  docs/guide/packages/lucide-solid.md
  packages/lucide-solid/package.json
  packages/lucide-solid/rollup.config.mjs
Labels: 📖 documentation, 📦 dependencies, 🌍 site, 🪝 solid package

#2372 feat(icons): added `trending-up-down` icon
  icons/trending-up-down.json
  icons/trending-up-down.svg
Labels: 🎨 icon, 🫧 metadata

#2378 fix(icons): fix `volume` icons, add `volume-off`
  icons/file-volume.svg
  icons/volume-1.svg
  icons/volume-2.svg
  icons/volume-off.json
  icons/volume-off.svg
  icons/volume-x.svg
  icons/volume.svg
Labels: 🎨 icon, 🫧 metadata

#2346 fix(icons): lucide-ize send icons
  icons/send-horizontal.json
  icons/send-horizontal.svg
  icons/send.json
  icons/send.svg
Labels: 🎨 icon, Stale, 🫧 metadata
