Repository lucide-icons/lucide, pull requests merged in 2024-09, with the labels that each got.

#2422 refactor(icons): optimized `battery-warning` icon
  icons/battery-warning.svg
Labels: 🎨 icon

#2421 feat(pr-comment): moved diff into separate section
  docs/.vitepress/api/gh-icon/[...data].get.ts
  docs/.vitepress/api/gh-icon/diff/[...data].get.ts
  docs/.vitepress/lib/SvgPreview/Backdrop.tsx
  docs/.vitepress/lib/SvgPreview/Diff.tsx
  docs/.vitepress/lib/SvgPreview/index.tsx
  scripts/generateChangedIconsCommentMarkup.mjs
Labels: 🌍 site

#2408 feat(icons): added `octagon-minus` icon
  icons/octagon-minus.json
  icons/octagon-minus.svg
Labels: 🎨 icon, 🫧 metadata

#2424 fix(icons): changed `combine` icon
  icons/combine.json
  icons/combine.svg
Labels: 🎨 icon, 🫧 metadata

#2376 chore: Update PNPM
  .github/workflows/ci.yml
  .github/workflows/linting.yml
  .github/workflows/lucide-angular.yml
  .github/workflows/lucide-font.yml
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-static.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide-vue.yml
  .github/workflows/lucide.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  packages/lucide/tests/__snapshots__/lucide.spec.js.snap
  pnpm-lock.yaml
Labels: 📦 dependencies, 🎨 icon

#2362 feat(icons): added `grid-2x2-plus` icon
  icons/grid-2x2-plus.json
  icons/grid-2x2-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2358 fix(icons): arcified `book-open-*` icon
  icons/book-open-check.svg
  icons/book-open-text.svg
  icons/book-open.svg
Labels: 🎨 icon, Stale

#2423 fix(icons): arcified `caravan` icon
  icons/caravan.json
  icons/caravan.svg
Labels: 🎨 icon, 🫧 metadata

#2445 add headphone-off svg & json in icon folder
  icons/headphone-off.json
  icons/headphone-off.svg
Labels: 🎨 icon, 🫧 metadata

#2401 feat(icons): added `clock-alert` icon
  icons/clock-alert.json
  icons/clock-alert.svg
Labels: 🎨 icon, 🫧 metadata

#2429 refactor(icons): changed `messages-square` icon
  icons/messages-square.svg
Labels: 🎨 icon

#2485 fix(icons): changed `octagon-pause` icon
  icons/octagon-pause.json
  icons/octagon-pause.svg
Labels: 🎨 icon, 🫧 metadata

#2479 fix(icons): changed `circle-stop` icon
  icons/circle-stop.svg
Labels: 🎨 icon

#2431 feat(icons): added `briefcase-conveyor-belt` icon
  icons/briefcase-conveyor-belt.json
  icons/briefcase-conveyor-belt.svg
Labels: 🎨 icon, 🫧 metadata

#2430 feat(icons): added `message-square-lock` icon
  icons/message-square-lock.json
  icons/message-square-lock.svg
Labels: 🎨 icon, 🫧 metadata

#2457 feat(icons): added `file-user` icon
  icons/file-user.json
  icons/file-user.svg
Labels: 🎨 icon, 🫧 metadata

#2489 Add missing space between Svelte and Preact
  docs/guide/index.md
Labels: 📖 documentation, 🌍 site
