Repository lucide-icons/lucide, pull requests merged in 2024-06, with the labels that each got.

#2174 feat(icons): added pill-bottle icon
  icons/pill-bottle.json
  icons/pill-bottle.svg
Labels: 🎨 icon, 🫧 metadata

#2143 fix(icons): added rounding to `compass` icon
  icons/compass.json
  icons/compass.svg
Labels: 🎨 icon, 🫧 metadata

#2150 fix(icons): added rounding `radical` icon
  icons/radical.json
  icons/radical.svg
Labels: 🎨 icon, 🫧 metadata

#2183 fix(icons): [circle-slash] Fix missing line when using `fill` as a background
  icons/circle-slash.svg
Labels: 🎨 icon

#2169 Add copy component name
  docs/.vitepress/theme/components/icons/CopyCodeButton.vue
Labels: 🌍 site

#2147 fix(icons): added rounding to `paintbrush`
  icons/paintbrush.svg
Labels: 🎨 icon

#2112 fix(icons): arcified `tractor` icon
  icons/tractor.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2127 feat(icons): added biceps-flexed icon
  icons/biceps-flexed.json
  icons/biceps-flexed.svg
Labels: 🎨 icon, 🫧 metadata

#2149 fix(icons): added rounding to `sigma` icon
  icons/sigma.svg
Labels: 🎨 icon

#2002 fix(icons): added round corners to `signpost` icon
  icons/signpost.json
  icons/signpost.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2152 meta(icons): Added "liquid" tag to Droplet icon
  icons/droplet.json
  icons/droplets.json
Labels: 🫧 metadata

#2187 fix(icons): fixes mismatched lines in dna & dna-off
  icons/dna-off.svg
  icons/dna.svg
Labels: 🎨 icon

#2176 feat(icons): added calendar-cog icon
  icons/calendar-cog.json
  icons/calendar-cog.svg
Labels: 🎨 icon, 🫧 metadata

#2189 fix(site): fixes open collective logo in light mode
  docs/.vitepress/theme/components/home/HomeSponsorCard.vue
  docs/public/open-collective.png
Labels: 🌍 site

#2205 fix(icons): fixes/removes zero long path segments
  icons/angry.svg
  icons/book-heart.svg
  icons/cake.svg
  icons/castle.svg
  icons/church.svg
  icons/earth.svg
  icons/folder-heart.svg
  icons/fuel.svg
  icons/grab.svg
  icons/hand-metal.svg
  icons/hand.svg
  icons/hard-hat.svg
  icons/heart-handshake.svg
  icons/lasso-select.svg
  icons/luggage.svg
  icons/mail-search.svg
  icons/mailbox.svg
  icons/party-popper.svg
  icons/piggy-bank.svg
  icons/plug-2.svg
  icons/pointer.svg
  icons/radiation.svg
  icons/radio-receiver.svg
  icons/rat.svg
  icons/redo-2.svg
  icons/shrub.svg
  icons/stethoscope.svg
  icons/sticker.svg
  icons/store.svg
  icons/swatch-book.svg
  icons/test-tube-diagonal.svg
  icons/test-tube.svg
  icons/test-tubes.svg
  icons/thumbs-down.svg
  icons/thumbs-up.svg
  icons/trees.svg
  icons/undo-2.svg
  icons/university.svg
  icons/utensils.svg
  icons/wand.svg
Labels: 🎨 icon

#2184 fix(icons): changed `file-cog` icon to match other `-cog` icons
  icons/file-cog.json
  icons/file-cog.svg
Labels: 🎨 icon, 🫧 metadata

#2132 fix(icons): added round corner to `file-archive` icon
  icons/file-archive.json
  icons/file-archive.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2210 fix(icons): arcified `pin` icon
  icons/pin.svg
Labels: 🎨 icon

#2211 fix(icons): arcified `pin-off` icon
  icons/pin-off.svg
Labels: 🎨 icon

#2133 fix(icons): arcified `guitar` icon
  icons/guitar.json
  icons/guitar.svg
Labels: 🎨 icon, 🫧 metadata

#2126 feat: narrowed type for categories in icon.schema.json
  icon.schema.json
Labels: Stale

#2198 feat(icons): redesigned `mic-vocal` icon
  icons/mic-vocal.json
  icons/mic-vocal.svg
Labels: 🎨 icon, 🫧 metadata

#2228 feat(icons): add additional rounding to `sofa` and `armchair` icons
  icons/armchair.svg
  icons/sofa.svg
Labels: 🎨 icon

#2221 feat(icons): added `house-plus` icon
  icons/house-plus.json
  icons/house-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2123 feat(icons): added `house-plug` icon
  icons/house-plug.json
  icons/house-plug.svg
Labels: 🎨 icon, 🫧 metadata

#2116 fix(icons): redesigned `house` icon
  icons/home.json
  icons/house.json
  icons/house.svg
Labels: 🎨 icon, 🫧 metadata

#2243 fix(categories): changed home category icon from `home` to `house`
  categories/home.json
Labels: 🫧 metadata

#2251 fix(icons): changed `cloud-moon` icon
  icons/cloud-moon.svg
Labels: 🎨 icon

#2254 feat(lucide-react): Add support for React 19
  packages/lucide-react/package.json
Labels: ⚛️ react package

#2248 feat(icons): added `signature` icon
  icons/signature.json
  icons/signature.svg
Labels: 🎨 icon, 🫧 metadata

#2260 feat(icons): added `save-off` icon
  icons/save-off.json
  icons/save-off.svg
Labels: 🎨 icon, 🫧 metadata

#2250 fix(icons): optimized `cloud-moon-rain` icon
  icons/cloud-moon-rain.svg
Labels: 🎨 icon

#2263 fix(site): Fix lab code examples
  docs/.vitepress/lib/codeExamples/createLabCodeExamples.ts
  docs/icons/[name].md
Labels: 📖 documentation, 🌍 site
