Repository lucide-icons/lucide, pull requests merged in 2024-04, with the labels that each got.

#2025 docs: improved warning message in lucide-static readme
  packages/lucide-static/README.md
Labels: 🪨 static package

#2020 feat(icons): added mouse off icon
  icons/mouse-off.json
  icons/mouse-off.svg
Labels: 🎨 icon, 🫧 metadata

#2006 fix(icons): added rounding `pen-tool` icon
  icons/pen-tool.json
  icons/pen-tool.svg
Labels: 🎨 icon, 🫧 metadata

#2034 meta(icons): Add axis tag to rotate-3d
  icons/rotate-3d.json
Labels: 🫧 metadata

#1993 refactor(icons): optimized `fingerprint` icon
  icons/fingerprint.json
  icons/fingerprint.svg
Labels: 🎨 icon, 🫧 metadata

#1667 feat: added `pilcrow-left` icon
  .cspell/custom-words.txt
  icons/pilcrow-left.json
  icons/pilcrow-left.svg
Labels: 🎨 icon, 🫧 metadata

#1668 feat: added `pilcrow-right` icon
  icons/pilcrow-right.json
  icons/pilcrow-right.svg
Labels: 🎨 icon, 🫧 metadata

#2004 fix(icons): added rounding to `coffee` icon
  icons/coffee.json
  icons/coffee.svg
Labels: 🎨 icon, 🫧 metadata

#2050 fix(icons): added rounding to `video` icon
  icons/video.json
  icons/video.svg
Labels: 🎨 icon, 🫧 metadata

#2051 fix(icons): added rounding to `video-off` icon
  icons/video-off.json
  icons/video-off.svg
Labels: 🎨 icon, 🫧 metadata

#1963 feat(icons): add keyboard-off
  icons/keyboard-off.json
  icons/keyboard-off.svg
Labels: 🎨 icon, 🫧 metadata

#2026 fix(icons): changed `cable` icon
  icons/cable.svg
Labels: 🎨 icon

#2054 feat(icons): added `image-play` icon
  icons/image-play.json
  icons/image-play.svg
Labels: 🎨 icon, 🫧 metadata

#2001 fix(icons): redesigned `dumbbell` icon
  icons/dumbbell.json
  icons/dumbbell.svg
Labels: 🎨 icon, 🫧 metadata

#2068 fix(icons): arcified `scroll` icon
  icons/scroll.svg
Labels: 🎨 icon

#2069 fix(icons): arcified `scroll-text` icon
  icons/scroll-text.svg
Labels: 🎨 icon

#2079 Add bot-off icon
  icons/bot-off.json
  icons/bot-off.svg
Labels: 🎨 icon, 🫧 metadata

#2063 fix(icons): changed `monitor-play` icon
  icons/monitor-play.svg
Labels: 🎨 icon

#2073 feat(icons): add `diamond-minus`
  icons/diamond-minus.json
  icons/diamond-minus.svg
Labels: 🎨 icon, 🫧 metadata

#2033 fix(icons): Add axis tag to scale-3d
  icons/scale-3d.json
Labels: 🫧 metadata

#2064 fix(icons): changed `save` icon
  icons/save.svg
Labels: 🎨 icon

#2035 feat(icons): add origami
  icons/origami.json
  icons/origami.svg
Labels: 🎨 icon, 🫧 metadata

#2065 fix(icons): changed `save-all` icon
  icons/save-all.svg
Labels: 🎨 icon, 🫧 metadata

#2093 ci: Split up jobs in workflows
  .github/workflows/lucide-angular.yml
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide-vue.yml
  .github/workflows/lucide.yml
  .github/workflows/pull-request.yml
  packages/lucide-preact/package.json
  packages/lucide-react-native/package.json
  packages/lucide-react/package.json
  packages/lucide-solid/package.json
  packages/lucide-svelte/package.json
  packages/lucide-vue-next/package.json
  packages/lucide-vue/package.json
  packages/lucide/package.json
Labels: ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package

#1953 fix(icons): changed `search-code` icon
  icons/file-code.svg
  icons/message-circle-code.svg
  icons/message-square-code.svg
  icons/search-code.json
  icons/search-code.svg
  icons/square-code.svg
  icons/square-dashed-bottom-code.svg
Labels: 🎨 icon, 🫧 metadata

#2066 fix(icons): arcified `printer` icon
  icons/printer.svg
Labels: 🎨 icon

#2058 fix(icons): arcify `activity` icon
  icons/activity.json
  icons/activity.svg
Labels: 🎨 icon, 🫧 metadata

#2084 feat(icons): added `grid-2x2-check` icon
  icons/grid-2x2-check.json
  icons/grid-2x2-check.svg
Labels: 🎨 icon, 🫧 metadata

#2085 feat(icons): added `grid-2x2-x` icon
  icons/grid-2x2-x.json
  icons/grid-2x2-x.svg
Labels: 🎨 icon, 🫧 metadata

#2059 fix(icons): added rounding to `alarm-smoke` icon
  icons/alarm-smoke.json
  icons/alarm-smoke.svg
Labels: 🎨 icon, 🫧 metadata

#2109 fix(lucide-svelte): Revert shared package for `lucide-svelte`
  packages/lucide-svelte/package.json
  packages/lucide-svelte/src/Icon.svelte
  pnpm-lock.yaml
Labels: 📦 dependencies, 🧣 svelte package

#2107 fix: Prevent internal router from handling external links
  docs/.vitepress/theme/components/base/Badge.vue
  docs/.vitepress/theme/components/home/HomeHeroBefore.vue
  docs/.vitepress/theme/components/icons/IconDetailOverlay.vue
  docs/icons/[name].md
Labels: 📖 documentation, 🌍 site
