Repository lucide-icons/lucide, pull requests merged in 2024-07, with the labels that each got.

#2258 feat(icons): added `printer-check` icon
  icons/printer-check.json
  icons/printer-check.svg
Labels: 🎨 icon, 🫧 metadata

#2293 chore(icons): improve pixel perfection and curvature of signature
  icons/signature.svg
Labels: 🎨 icon

#2278 fix(icons): changed `key-round` icon
  icons/key-round.json
  icons/key-round.svg
Labels: 🎨 icon, 🫧 metadata

#2285 fix(icons): fixed `*-power` icons
  icons/circle-power.json
  icons/circle-power.svg
  icons/square-power.json
  icons/square-power.svg
Labels: 🎨 icon, 🫧 metadata

#2274 fix(icons): arcified `book-*` icons
  icons/book-a.svg
  icons/book-audio.svg
  icons/book-check.svg
  icons/book-copy.json
  icons/book-copy.svg
  icons/book-dashed.svg
  icons/book-down.svg
  icons/book-headphones.svg
  icons/book-heart.svg
  icons/book-image.json
  icons/book-image.svg
  icons/book-key.svg
  icons/book-lock.svg
  icons/book-marked.svg
  icons/book-minus.svg
  icons/book-plus.svg
  icons/book-text.svg
  icons/book-type.svg
  icons/book-up-2.svg
  icons/book-up.svg
  icons/book-user.svg
  icons/book-x.svg
  icons/book.svg
Labels: 🎨 icon, 🫧 metadata

#2280 fix(icons): arcified `octagon-*` icons
  icons/octagon-alert.json
  icons/octagon-alert.svg
  icons/octagon-pause.svg
  icons/octagon-x.svg
  icons/octagon.json
  icons/octagon.svg
Labels: 🎨 icon, 🫧 metadata

#2247 feat(icons): added `scan-qr-code` icon
  icons/scan-qr-code.json
  icons/scan-qr-code.svg
Labels: 🎨 icon, 🫧 metadata

#2157 feat(icons): add wifi strength icons
  icons/wifi-high.json
  icons/wifi-high.svg
  icons/wifi-low.json
  icons/wifi-low.svg
  icons/wifi-zero.json
  icons/wifi-zero.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2291 feat(icons): added `list-check` icon
  icons/list-check.json
  icons/list-check.svg
Labels: 🎨 icon, 🫧 metadata

#2298 fix(site): Fix svelte code examples
  docs/icons/[name].md
Labels: 📖 documentation, 🌍 site

#2306 fix(site): Correct GitHub link in the footer
  docs/.vitepress/theme/components/overrides/VPFooter.vue
Labels: 🌍 site

#2303 feat(icons): added user-pen and user-round-pen
  icons/user-pen.json
  icons/user-pen.svg
  icons/user-round-pen.json
  icons/user-round-pen.svg
Labels: 🎨 icon, 🫧 metadata

#2206 feat(icons): added type-outline icon
  icons/type-outline.json
  icons/type-outline.svg
Labels: 🎨 icon, 🫧 metadata

#2279 fix(icons): arcified `delete` icon
  icons/delete.json
  icons/delete.svg
Labels: 🎨 icon, 🫧 metadata

#2262 docs(contrib): add guide to design icons with Affinity Designer
  CONTRIBUTING.md
  docs/.vitepress/sidebar.ts
  docs/guide/design/affinity-designer-guide.md
  docs/images/affinity-designer-export-options.png
  docs/public/templates/affinity_designer.aftemplate
Labels: 📖 documentation, 🌍 site

#2273 fix(icons): changed `church` icon
  icons/church.svg
Labels: 🎨 icon

#2310 feat(icons): added `monitor-cog` icon
  icons/monitor-cog.json
  icons/monitor-cog.svg
Labels: 🎨 icon, 🫧 metadata

#2266 fix(icons): changed `drafting-compass` icon
  icons/drafting-compass.json
  icons/drafting-compass.svg
Labels: 🎨 icon, 🫧 metadata

#2321 refactor(icons): changed `image-plus` icon
  icons/image-plus.json
  icons/image-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2317 feat(icons): add rounding to eye icons
  icons/eye-off.svg
  icons/eye.svg
  icons/scan-eye.svg
  icons/view.svg
Labels: 🎨 icon

#2304 feat(icons): clarification on naming overlapping elements
  docs/guide/design/icon-design-guide.md
Labels: 📖 documentation, 🌍 site

#2265 refactor(icons): changed `calendar-minus` icon
  icons/calendar-minus.json
  icons/calendar-minus.svg
Labels: 🎨 icon, 🫧 metadata

#2271 fix(icons): arcified `ribbon` icon
  icons/ribbon.svg
Labels: 🎨 icon

#2231 feat(icons): added `philippine-peso` icon
  icons/philippine-peso.json
  icons/philippine-peso.svg
Labels: 🎨 icon, 🫧 metadata

#2129 fix(icons): removed `plug-zap-2` icon
  icons/plug-zap-2.json
  icons/plug-zap-2.svg
  icons/plug-zap.json
Labels: 🎨 icon, Stale, 🫧 metadata

#2322 feat: added green positive addition to gh-icon route
  docs/.vitepress/api/gh-icon/[...data].get.ts
  docs/.vitepress/lib/SvgPreview/Backdrop.tsx
  docs/.vitepress/lib/SvgPreview/index.tsx
Labels: 🌍 site

#2252 feat(icons): add `letter-text` icon
  icons/letter-text.json
  icons/letter-text.svg
Labels: 🎨 icon, 🫧 metadata

#2316 feat(packages/lucide-angular): fix change detection on icons
  packages/lucide-angular/src/lib/lucide-angular.component.ts
Labels: 🐛 bug, 🅰️ angular package

#2277 fix(icons): changed `key-square` icon
  icons/key-square.json
  icons/key-square.svg
Labels: 🎨 icon, 🫧 metadata

#2249 fix(icons): closed gaps in `dog` icon
  icons/dog.json
  icons/dog.svg
Labels: 🎨 icon, 🫧 metadata

#2233 feat(icons): added `dam` icon
  icons/dam.json
  icons/dam.svg
Labels: 🎨 icon, 🫧 metadata

#2192 meta(icons): adds extra tags to utensils icons
  icons/utensils-crossed.json
  icons/utensils.json
Labels: 🫧 metadata

#2241 feat(icons): added `square-square` icon
  icons/square-square.json
  icons/square-square.svg
Labels: 🎨 icon, 🫧 metadata

#2334 fix(icons): changed `chart-column-increasing` icon
  icons/chart-column-increasing.svg
Labels: 🎨 icon

#1296 Add `id-card`
  icons/id-card.json
  icons/id-card.svg
Labels: 🎨 icon, Stale, 🫧 metadata
