Repository lucide-icons/lucide, pull requests merged in 2024-01, with the labels that each got.

#1773 Update dependencies and general improvements in packages
  packages/lucide-figma/package.json
  packages/lucide-preact/package.json
  packages/lucide-preact/rollup.config.mjs
  packages/lucide-preact/scripts/buildTypes.mjs
  packages/lucide-preact/src/createLucideIcon.ts
  packages/lucide-preact/tests/__snapshots__/lucide-preact.spec.tsx.snap
  packages/lucide-preact/tests/setupVitest.js
  packages/lucide-preact/vitest.config.mts
  packages/lucide-react-native/package.json
  packages/lucide-react-native/rollup.config.mjs
  packages/lucide-react-native/scripts/buildTypes.mjs
  packages/lucide-react-native/src/createLucideIcon.ts
  packages/lucide-react-native/tests/__snapshots__/lucide-react-native.spec.tsx.snap
  packages/lucide-react-native/tests/setupVitest.js
  packages/lucide-react-native/vitest.config.mts
  packages/lucide-react/package.json
  packages/lucide-react/tests/__snapshots__/lucide-react.spec.tsx.snap
  packages/lucide-react/tests/setupVitest.js
  packages/lucide-react/vitest.config.mts
  packages/lucide-solid/package.json
  packages/lucide-solid/tests/__snapshots__/lucide-solid.spec.tsx.snap
  packages/lucide-solid/tests/lucide-solid.spec.tsx
  packages/lucide-solid/tests/setupVitest.js
  packages/lucide-solid/vitest.config.mts
  packages/lucide-static/package.json
  packages/lucide-svelte/package.json
  packages/lucide-svelte/tests/__snapshots__/lucide-svelte.spec.ts.snap
  packages/lucide-svelte/tests/setupVitest.ts
  packages/lucide-vue-next/package.json
  packages/lucide-vue-next/rollup.config.mjs
  packages/lucide-vue-next/scripts/buildTypes.mjs
  packages/lucide-vue-next/src/createLucideIcon.ts
  packages/lucide-vue-next/tests/lucide-vue-next.spec.ts
  packages/lucide-vue-next/tsconfig.json
  packages/lucide-vue-next/vitest.config.mts
  packages/lucide-vue/package.json
  packages/lucide/package.json
  packages/lucide/scripts/buildTypes.mjs
  packages/lucide/tests/__snapshots__/lucide.spec.js.snap
  packages/lucide/tests/setupVitest.js
  packages/lucide/vitest.config.mts
  pnpm-lock.yaml
  tools/rollup-plugins/package.json
Labels: 📦 dependencies, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package, 🪨 static package

#1766 docs: Add Lucide-Svelte icon import instructions and type definitions
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🌍 site

#1774 Add nitro prepare command docs site
  docs/package.json
Labels: 🌍 site

#1461 Add amenities icons
  icons/heater.json
  icons/heater.svg
  icons/vault.json
  icons/vault.svg
  icons/washing-machine.json
  icons/washing-machine.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1384 Rename `square-*` icons appropriately
  icons/asterisk-square.json
  icons/asterisk-square.svg
  icons/code-square.json
  icons/code-square.svg
  icons/dot-square.json
  icons/dot-square.svg
  icons/equal-square.json
  icons/equal-square.svg
  icons/gantt-chart-square.json
  icons/kanban-square-dashed.json
  icons/kanban-square.json
  icons/slash-square.json
  icons/slash-square.svg
Labels: 🎨 icon, 🌍 site, Stale, 🫧 metadata

#1508 Add `between-*` icons
  icons/between-horizonal-end.json
  icons/between-horizonal-end.svg
  icons/between-horizonal-start.json
  icons/between-horizonal-start.svg
  icons/between-vertical-end.json
  icons/between-vertical-end.svg
  icons/between-vertical-start.json
  icons/between-vertical-start.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1745 Manually optimized folder-sync
  icons/folder-sync.json
  icons/folder-sync.svg
Labels: 🎨 icon, 🫧 metadata

#1781 Rename between-horizontal-* icons
  icons/between-horizontal-end.json
  icons/between-horizontal-end.svg
  icons/between-horizontal-start.json
  icons/between-horizontal-start.svg
Labels: 🎨 icon, 🫧 metadata

#1784 Fixes `pen-square`
  icons/square-pen.json
  icons/square-pen.svg
Labels: 🎨 icon, 🫧 metadata

#1790 Add `list-collapse` icon
  icons/list-collapse.json
  icons/list-collapse.svg
Labels: 🎨 icon, 🫧 metadata

#1801 Add cache header site assets
  docs/vercel.json
Labels: 🌍 site

#1794 Remove aliasesSupport flag from rollup.config.mjs
  packages/lucide-preact/rollup.config.mjs
  packages/lucide-react/rollup.config.mjs
  packages/lucide-vue-next/rollup.config.mjs
  packages/lucide-vue/rollup.config.mjs
Labels: 🐛 bug, ⚛️ react package, 💎 vue package, ⚛️ preact package

#1805 Site improvements and update site dependencies
  CONTRIBUTING.md
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/components/base/Badge.vue
  docs/.vitepress/theme/components/base/ButtonMenu.vue
  docs/.vitepress/theme/components/base/CodeGroup.vue
  docs/.vitepress/theme/components/base/FakeInput.vue
  docs/.vitepress/theme/components/icons/CategoryListItem.vue
  docs/.vitepress/theme/components/icons/CopyCodeButton.vue
  docs/.vitepress/theme/components/icons/IconDetailOverlay.vue
  docs/.vitepress/theme/components/icons/IconGrid.vue
  docs/.vitepress/theme/components/icons/IconItem.vue
  docs/.vitepress/theme/components/icons/IconsCategoryOverview.vue
  docs/.vitepress/theme/composables/useSearchInput.ts
  docs/guide/packages/lucide-react.md
  docs/license.md
  docs/nitro.config.ts
  docs/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site

#1151 Add `venn` diagram icon
  icons/venn.json
  icons/venn.svg
Labels: Stale

#1808 Fix missing metadata
  icons/blend.json
  icons/eclipse.json
  icons/file-archive.json
  icons/file-audio-2.json
  icons/file-audio.json
  icons/file-axis-3d.json
  icons/file-badge-2.json
  icons/file-badge.json
  icons/file-bar-chart-2.json
  icons/file-bar-chart.json
  icons/file-box.json
  icons/file-check-2.json
  icons/file-check.json
  icons/file-clock.json
  icons/file-cog.json
  icons/file-diff.json
  icons/file-digit.json
  icons/file-down.json
  icons/file-heart.json
  icons/file-image.json
  icons/file-json-2.json
  icons/file-json.json
  icons/file-key-2.json
  icons/file-key.json
  icons/file-line-chart.json
  icons/file-lock-2.json
  icons/file-lock.json
  icons/file-minus-2.json
  icons/file-minus.json
  icons/file-pen-line.json
  icons/file-pen.json
  icons/file-pie-chart.json
  icons/file-plus-2.json
  icons/file-plus.json
  icons/file-question.json
  icons/file-scan.json
  icons/file-search-2.json
  icons/file-search.json
  icons/file-spreadsheet.json
  icons/file-symlink.json
  icons/file-terminal.json
  icons/file-text.json
  icons/file-type-2.json
  icons/file-type.json
  icons/file-up.json
  icons/file-video-2.json
  icons/file-video.json
  icons/file-volume-2.json
  icons/file-volume.json
  icons/file-warning.json
  icons/file-x-2.json
  icons/file-x.json
  icons/file.json
  icons/files.json
  icons/paint-roller.json
  icons/sticker.json
  icons/sticky-note.json
  icons/swatch-book.json
Labels: 🫧 metadata

#1813 docs(react-native): fix generic icon import
  docs/guide/packages/lucide-react-native.md
Labels: 📖 documentation, 🌍 site

#1756 Cleanup tools
  .eslintrc.js
  .github/actions/build-and-test.yml
  .github/actions/check-icons.yml
  .prettierignore
  docs/guide/advanced/examples/global-styling-absolute-strokewidth-example/icon.css
  docs/guide/advanced/examples/global-styling-css-example/icon.css
  lint-staged.config.mjs
  package.json
  packages/lucide-angular/.eslintrc.js
  packages/lucide-angular/package.json
  packages/lucide-vue/src/createLucideIcon.ts
  pnpm-lock.yaml
  prettier.config.mjs
  scripts/generateSuperSVG.mjs
  scripts/render/processSvg.mjs
Labels: 📦 dependencies, 🌍 site, 🅰️ angular package

#1807 Add `text-search` icon
  icons/text-search.json
  icons/text-search.svg
Labels: 🎨 icon, 🫧 metadata

#1566 feat: added webhook-off icon
  icons/webhook-off.json
  icons/webhook-off.svg
Labels: 🎨 icon, 🫧 metadata

#1436 Fix fills in smaller dots
  icons/guitar.svg
  icons/key-round.svg
  icons/palette.svg
  icons/scatter-chart.svg
  icons/vault.svg
Labels: 🎨 icon

#1811 fix: Add the license banner inside of the script tag instead of an HTML comment
  packages/lucide-svelte/package.json
  packages/lucide-svelte/scripts/appendBlockComments.mjs
  packages/lucide-svelte/scripts/exportTemplate.mjs
  packages/lucide-svelte/scripts/license.mjs
Labels: 🧣 svelte package

#1819 Add `ambulance` icon
  icons/ambulance.json
  icons/ambulance.svg
Labels: 🎨 icon, 🫧 metadata

#1820 Add `story` icon
  icons/circle-fading-plus.json
  icons/circle-fading-plus.svg
Labels: 🎨 icon, 🫧 metadata

#1780 Add headset icon
  icons/headset.json
  icons/headset.svg
Labels: 🎨 icon, 🫧 metadata

#1812 Add `clipboard-plus` and `clipboard-minus` icons
  icons/clipboard-minus.json
  icons/clipboard-minus.svg
  icons/clipboard-plus.json
  icons/clipboard-plus.svg
  icons/shield-plus.json
Labels: 🎨 icon, 🫧 metadata

#1838 Update `truck` icon to match `ambulance` icon
  icons/truck.json
  icons/truck.svg
Labels: 🎨 icon, 🫧 metadata

#1836 Fix `bolt` missing metadata
  icons/bolt.json
Labels: 🫧 metadata

#1840 Fix plus/minus sign size in `shield-plus`/`shield-minus`
  icons/shield-minus.svg
  icons/shield-plus.svg
Labels: 🎨 icon
