Repository lucide-icons/lucide, pull requests merged in 2024-10, with the labels that each got.

#2506 fix(icons): rename `box-select` to `square-dashed`
  icons/square-dashed.json
  icons/square-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#2504 fix(categories): fixed `charts` icon name
  categories/charts.json
Labels: 🫧 metadata

#2466 fix: add missing deprecation warning for LinkedIn logo
  icons/linkedin.json
Labels: 🫧 metadata

#2511 add(site): Eric Fennis's twitter link
  docs/.vitepress/data/teamData.json
Labels: 🌍 site

#1980 feat(icons): added `volleyball` icon
  icons/volleyball.json
  icons/volleyball.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2503 tests(shared): added mergeClasses tests
  packages/shared/package.json
  packages/shared/tests/utils.spec.tsx
  pnpm-lock.yaml
Labels: 📦 dependencies

#2514 fix(app): #2412 Fix tooltip being cut off
  docs/.vitepress/theme/components/base/Tooltip.vue
Labels: 🌍 site

#2509 fix(site): use the same camel/pascal same conversion as when releasing packages
  docs/.vitepress/theme/components/icons/CopyCodeButton.vue
  docs/icons/[name].md
  packages/shared/src/utils.ts
Labels: 📖 documentation, 🌍 site

#2494 fix(icons): Updated `sandwich` icon
  icons/sandwich.json
  icons/sandwich.svg
Labels: 🎨 icon, 🫧 metadata

#2499 fix(icons): changed `package` icon
  icons/package.json
  icons/package.svg
Labels: 🎨 icon, 🫧 metadata

#2474 fix(icons): changed `component` icon
  icons/component.svg
Labels: 🎨 icon

#2528 refactor(icons): optimised some `align`-, `indent`- and `list`-icons
  icons/align-center.svg
  icons/align-justify.svg
  icons/align-left.svg
  icons/align-right.svg
  icons/indent-decrease.svg
  icons/indent-increase.svg
  icons/list-ordered.svg
  icons/list.svg
Labels: 🎨 icon

#2530 Update icon-design-guide.md to improve grammar
  docs/guide/design/icon-design-guide.md
Labels: 📖 documentation, 🌍 site

#2520 feat(icons): added `calendar-1` icon
  icons/calendar-1.json
  icons/calendar-1.svg
Labels: 🎨 icon, 🫧 metadata

#2543 Add Lustre Lucide third party package
  docs/.vitepress/data/packageData.thirdParty.json
  docs/public/framework-logos/lustre.webp
Labels: 🌍 site

#1987 fix(icons): added rounding to `star` icon
  icons/star-half.json
  icons/star-half.svg
  icons/star.json
  icons/star.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2476 fix(icons): changed `pizza` icon
  icons/pizza.json
  icons/pizza.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2569 (docs) update lucide angular guide for standalone components
  docs/guide/packages/lucide-angular.md
Labels: 📖 documentation, 🌍 site

#2536 fix(icons): changed `file-music` icon
  icons/file-music.json
  icons/file-music.svg
Labels: 🎨 icon, 🫧 metadata

#2570 chore: Update dependencies
  docs/package.json
  package.json
  packages/lucide-preact/package.json
  packages/lucide-react-native/package.json
  packages/lucide-react/package.json
  packages/lucide-solid/package.json
  packages/lucide-svelte/package.json
  packages/lucide-vue-next/package.json
  packages/lucide-vue/package.json
  packages/lucide/package.json
  pnpm-lock.yaml
  tools/build-font/package.json
  tools/outline-svg/package.json
  tools/rollup-plugins/package.json
Labels: 📦 dependencies, 🌍 site, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package
