Repository lucide-icons/lucide, pull requests merged in 2024-05, with the labels that each got.

#2113 fix(icons): arcified `award` icon
  icons/award.svg
Labels: 🎨 icon

#2118 fix(docs): fix uppercase import in lucide-static docs
  docs/guide/packages/lucide-static.md
Labels: 📖 documentation, 🌍 site

#2125 fix(icons): fix incorrect category name for diamond-plus/minus
  icons/diamond-minus.json
  icons/diamond-plus.json
Labels: 🫧 metadata

#2142 docs(site): changed my name in the team section
  docs/.vitepress/data/teamData.json
Labels: 🌍 site

#2018 feat(figma): add data API endpoint for new plugin
  docs/.vitepress/api/data/index.get.ts
Labels: 🌍 site, Stale

#2067 fix(icons): arcified `key` icon
  icons/key.json
  icons/key.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2146 fix(icons): added rounding to and renamed paintbrush-2
  icons/paintbrush-vertical.json
  icons/paintbrush-vertical.svg
Labels: 🎨 icon, 🫧 metadata

#2167 feat(angular): add support for Angular 18
  packages/lucide-angular/package.json
Labels: 🅰️ angular package

#2161 Fix license typos
  packages/lucide-angular/README.md
  packages/lucide-preact/README.md
  packages/lucide-react-native/README.md
  packages/lucide-react/README.md
  packages/lucide-solid/README.md
  packages/lucide-static/README.md
  packages/lucide-svelte/README.md
  packages/lucide-vue-next/README.md
  packages/lucide-vue/README.md
  packages/lucide/README.md
Labels: ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package, 🅰️ angular package, 🪨 static package

#2172 feat(icons): added section icon
  icons/section.json
  icons/section.svg
Labels: 🎨 icon, 🫧 metadata

#2171 feat(icons): added lectern icon
  icons/lectern.json
  icons/lectern.svg
Labels: 🎨 icon, 🫧 metadata
