Repository lucide-icons/lucide, pull requests merged in 2024-03, with the labels that each got.

#1901 feat(icons): add `cannabis` icon
  icons/cannabis.json
  icons/cannabis.svg
Labels: 🎨 icon, 🫧 metadata

#1943 meta(icons): Update metadata
  icons/area-chart.json
  icons/arrow-up-right-from-square.json
  icons/bar-chart-2.json
  icons/bar-chart-3.json
  icons/bar-chart-4.json
  icons/bar-chart-big.json
  icons/bar-chart-horizontal-big.json
  icons/bar-chart-horizontal.json
  icons/bar-chart.json
  icons/candlestick-chart.json
  icons/file-bar-chart-2.json
  icons/file-bar-chart.json
  icons/file-line-chart.json
  icons/file-pie-chart.json
  icons/line-chart.json
  icons/pie-chart.json
  icons/scatter-chart.json
Labels: 🫧 metadata

#1941 fix(icons): added round corner to `file-search` icon
  icons/file-search.json
  icons/file-search.svg
Labels: 🎨 icon, 🫧 metadata

#1940 fix(icons): added round corner to `file-volume` icon
  icons/file-volume.json
  icons/file-volume.svg
Labels: 🎨 icon, 🫧 metadata

#1939 fix(icons): optimized and closed gaps in `file-pie-chart` icon
  icons/file-pie-chart.json
  icons/file-pie-chart.svg
Labels: 🎨 icon, 🫧 metadata

#1834 fix(icons): `play` icon uncentered
  icons/play.svg
Labels: 🎨 icon

#1946 chore(icons): remove non existing smoking category from cannabis.json
  icons/cannabis.json
Labels: 🫧 metadata

#1964 fix(packages/lucide-solid): use jsx extension for solid build
  packages/lucide-solid/rollup.config.mjs
Labels: 🪝 solid package

#1949 feat(icons): added `ham` icon
  icons/ham.json
  icons/ham.svg
Labels: 🎨 icon, 🫧 metadata

#1970 fix(lucide-solid): use jsx for exports too
  packages/lucide-solid/package.json
Labels: 🪝 solid package

#1951 fix(icons): optimized `hotel` icon
  icons/hotel.json
  icons/hotel.svg
Labels: 🎨 icon, 🫧 metadata

#1947 fix(icons): updates crown to look more Lucide-y
  icons/crown.json
  icons/crown.svg
Labels: 🎨 icon, 🫧 metadata

#1952 feat(icons): added hospital
  icons/hospital.json
  icons/hospital.svg
Labels: 🎨 icon, 🫧 metadata

#1971 feat(icons): added `beer-off` icon
  icons/beer-off.json
  icons/beer-off.svg
Labels: 🎨 icon, 🫧 metadata

#1974 fix(icons): optimized `chef-hat` icon
  icons/chef-hat.json
  icons/chef-hat.svg
Labels: 🎨 icon, 🫧 metadata

#1981 fix(icons/cpu): add guideline compliant rounding to CPU center
  icons/cpu.svg
Labels: 🎨 icon

#1990 fix(icons): added rounding to `bug-play` icon
  icons/bug-play.json
  icons/bug-play.svg
Labels: 🎨 icon, 🫧 metadata

#2009 fix(icons): added rounding to `wallet` icon
  icons/wallet.svg
Labels: 🎨 icon

#1998 fix(icons): added rounding to `map` icon
  icons/map.svg
Labels: 🎨 icon

#1988 fix(icons): added rounding to `pause` icon
  icons/pause.json
  icons/pause.svg
Labels: 🎨 icon, 🫧 metadata

#1991 fix(icons): added rounding to `monitor-stop` icon
  icons/monitor-stop.svg
Labels: 🎨 icon

#1948 refactor(icons): optimizes `drumstick` and improves pixel perfection
  icons/drumstick.json
  icons/drumstick.svg
Labels: 🎨 icon, 🫧 metadata

#2017 fix(icons): fix tram front icon dots
  icons/tram-front.svg
Labels: 🎨 icon

#2016 feat(site): Add team section and subtle ads
  docs/.vitepress/data/teamData.json
  docs/.vitepress/theme/components/base/Badge.vue
  docs/.vitepress/theme/components/base/CardGrid.vue
  docs/.vitepress/theme/components/base/GridSection.vue
  docs/.vitepress/theme/components/home/HomeHeroIconsCard.vue
  docs/.vitepress/theme/components/home/HomePackagesSection.vue
  docs/.vitepress/theme/components/home/HomeSectionTitle.vue
  docs/.vitepress/theme/components/home/HomeSponsorCard.vue
  docs/.vitepress/theme/components/home/HomeTeamSection.vue
  docs/.vitepress/theme/components/home/TeamMemberCard.vue
  docs/.vitepress/theme/components/icons/CarbonAdOverlay.vue
  docs/.vitepress/theme/components/icons/IconDetailOverlay.vue
  docs/.vitepress/theme/components/icons/IconItem.vue
  docs/.vitepress/theme/components/icons/IconsCategoryOverview.vue
  docs/.vitepress/theme/components/icons/IconsOverview.vue
  docs/.vitepress/theme/components/packages/PackageList.vue
  docs/.vitepress/theme/components/showcase/ShowcaseList.vue
  docs/.vitepress/vue-shim.d.ts
  docs/icons/categories.md
  docs/index.md
  docs/public/open-collective.png
Labels: 📖 documentation, 🌍 site
