Repository lucide-icons/lucide, pull requests merged in 2024-02, with the labels that each got.

#1748 feat: Adds Svelte 5 support
  packages/lucide-svelte/package.json
Labels: 🧣 svelte package

#1835 Adds `handshake` icon
  icons/handshake.json
  icons/handshake.svg
Labels: 🎨 icon, 🫧 metadata

#1850 Fixes scaling, tag and tags to have the necessary rounding.
  icons/scaling.svg
  icons/tag.svg
  icons/tags.svg
Labels: 🎨 icon

#1799 Add caption icons
  icons/captions-off.json
  icons/captions-off.svg
  icons/captions.json
  icons/captions.svg
  icons/subtitles.json
Labels: 🎨 icon, 🫧 metadata

#1876 Update `arrow-big-down-dash` icon
  icons/arrow-big-down-dash.svg
Labels: 🎨 icon

#1877 Update `wifi` icon
  icons/wifi-off.svg
  icons/wifi.json
  icons/wifi.svg
Labels: 🎨 icon, 🫧 metadata

#1873 Update `rss` icon metadata
  icons/rss.json
Labels: 🫧 metadata

#1871 Optimized `shopping-basket` icon
  icons/shopping-basket.svg
Labels: 🎨 icon, 🫧 metadata

#1872 Update `school` icon
  icons/school.json
  icons/school.svg
Labels: 🎨 icon, 🫧 metadata

#1870 Rounded corners of `graduation-cap` icon
  icons/graduation-cap.json
  icons/graduation-cap.svg
Labels: 🎨 icon, 🫧 metadata

#1875 Update `anchor` icon
  icons/anchor.svg
Labels: 🎨 icon

#1847 Add `radical` icon (square root)
  icons/radical.json
  icons/radical.svg
  icons/square-radical.json
  icons/square-radical.svg
Labels: 🎨 icon, 🫧 metadata

#1884 Update `circle-dashed` icon
  icons/circle-dashed.json
  icons/circle-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#1883 Update `clover` icon
  icons/clover.json
  icons/clover.svg
Labels: 🎨 icon, 🫧 metadata

#1878 Update `file-symlink` icon
  icons/file-symlink.json
  icons/file-symlink.svg
Labels: 🎨 icon, 🫧 metadata

#1852 Adds `images` and (updates `file-image` to match)
  icons/file-image.svg
  icons/images.json
  icons/images.svg
Labels: 🎨 icon, 🫧 metadata

#1619 feat: folder output
  icons/folder-output.svg
Labels: 🎨 icon

#1879 Update `file-output` icon
  icons/file-output.json
  icons/file-output.svg
Labels: 🎨 icon, 🫧 metadata

#1874 Updated naming guidelines with element order and modifier naming scheme
  docs/guide/design/icon-design-guide.md
Labels: 📖 documentation, 🌍 site

#1889 Adds `telescope` icon
  icons/telescope.json
  icons/telescope.svg
Labels: 🎨 icon, 🫧 metadata

#1896 Fix `siren` rounding
  icons/siren.svg
Labels: 🎨 icon

#1894 Update `tractor` icon
  icons/tractor.json
  icons/tractor.svg
Labels: 🎨 icon, 🫧 metadata

#1895 Fix `anvil` rounding
  icons/anvil.svg
Labels: 🎨 icon

#1893 Optimise hammer
  icons/hammer.svg
Labels: 🎨 icon

#1890 Adds `pickaxe` icon
  icons/pickaxe.json
  icons/pickaxe.svg
Labels: 🎨 icon, 🫧 metadata

#1897 Optimise `hop`
  icons/hop-off.svg
  icons/hop.svg
Labels: 🎨 icon

#1856 Add `table-cells-merge`, `table-cells-split`, `table-rows-split`, and `table-columns-split` icons
  icons/table-cells-merge.json
  icons/table-cells-merge.svg
  icons/table-cells-split.json
  icons/table-cells-split.svg
  icons/table-columns-split.json
  icons/table-columns-split.svg
  icons/table-rows-split.json
  icons/table-rows-split.svg
Labels: 🎨 icon, 🫧 metadata

#1650 Fixed gap issues in `flower` icon
  icons/flower.json
  icons/flower.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#1910 Update `image-down` icon
  icons/image-down.json
  icons/image-down.svg
Labels: 🎨 icon, 🫧 metadata

#1909 Add `image-up` icon
  icons/image-up.json
  icons/image-up.svg
Labels: 🎨 icon, 🫧 metadata

#1648 Optimized and fixed alignment issues in `package-open` icon
  icons/package-open.svg
Labels: 🎨 icon

#1923 fix(icons/concierge-bell): Adds missing rounding from bottom part
  icons/concierge-bell.svg
Labels: 🎨 icon

#1905 Update `shield` to have better centre of gravity
  icons/shield-alert.json
  icons/shield-alert.svg
  icons/shield-ban.json
  icons/shield-ban.svg
  icons/shield-check.json
  icons/shield-check.svg
  icons/shield-ellipsis.json
  icons/shield-ellipsis.svg
  icons/shield-half.json
  icons/shield-half.svg
  icons/shield-minus.json
  icons/shield-minus.svg
  icons/shield-off.svg
  icons/shield-plus.json
  icons/shield-plus.svg
  icons/shield-question.json
  icons/shield-question.svg
  icons/shield-x.json
  icons/shield-x.svg
  icons/shield.json
  icons/shield.svg
Labels: 🎨 icon, 🫧 metadata

#1922 docs: fixed import statement of `dynamicIconImports` in README
  packages/lucide-react/README.md
Labels: ⚛️ react package

#1587 feat(icons): added globe-lock icon
  icons/earth-lock.json
  icons/earth-lock.svg
  icons/earth.json
  icons/earth.svg
  icons/globe-lock.json
  icons/globe-lock.svg
Labels: 🎨 icon, 🙋‍♂️ opinion wanted, Stale, 🫧 metadata

#1911 feat(site): adds virtual scrolling to icons grid and categories
  docs/.vitepress/theme/components/icons/CategoryList.vue
  docs/.vitepress/theme/components/icons/CategoryListItem.vue
  docs/.vitepress/theme/components/icons/IconGrid.vue
  docs/.vitepress/theme/components/icons/IconsCategory.vue
  docs/.vitepress/theme/components/icons/IconsCategoryOverview.vue
  docs/.vitepress/theme/components/icons/IconsOverview.vue
  docs/.vitepress/theme/components/icons/NoResults.vue
  docs/.vitepress/theme/composables/useActiveAnchor.ts
  docs/.vitepress/theme/composables/useCategoryView.ts
  docs/.vitepress/theme/composables/useScrollToCategory.ts
  docs/.vitepress/theme/composables/useSearch.ts
  docs/.vitepress/theme/style.css
  docs/.vitepress/theme/utils/chunkArray.ts
Labels: 🌍 site

#1929 Add support for react-native-svg ^15.0.0
  docs/guide/packages/lucide-react-native.md
  packages/lucide-react-native/README.md
  packages/lucide-react-native/package.json
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🌍 site, ⚛️ react native package

#1924 fix(icons): update `goal` icon
  icons/goal.json
  icons/goal.svg
Labels: 🎨 icon, 🫧 metadata

#1709 Add `bot-message-square` (chatbot) icon
  icons/bot-message-square.json
  icons/bot-message-square.svg
Labels: 🎨 icon, 🫧 metadata

#1914 feat: added 8x8 sub grid to svg preview component
  docs/.vitepress/lib/SvgPreview/index.tsx
Labels: 🌍 site

#1902 feat(icons): redesign brain and related icons
  icons/brain-circuit.svg
  icons/brain-cog.svg
  icons/brain.svg
Labels: 🎨 icon
