Repository lucide-icons/lucide, pull requests merged in 2024-12, with the labels that each got.

#2596 fix(icons): combined `layers` and `layers-3` icon
  icon.schema.json
  icons/layers-3.json
  icons/layers-3.svg
  icons/layers.json
  icons/layers.svg
  tools/build-icons/utils/deprecationReasonTemplate.mjs
Labels: 🎨 icon, 🫧 metadata

#2482 fix(icons): changed `paperclip` icon
  icons/paperclip.json
  icons/paperclip.svg
Labels: 🎨 icon, 🫧 metadata

#2481 fix(icons): changed `picture-in-picture` icon
  icons/picture-in-picture.json
  icons/picture-in-picture.svg
Labels: 🎨 icon, 🫧 metadata

#2651 docs(lucide-static): replace nonexistent icon references
  docs/guide/packages/lucide-static.md
Labels: 📖 documentation, 🌍 site

#2619 docs(showcase): Add reflex to showcase
  docs/.vitepress/data/componentLibrariesData.json
  docs/public/library-logos/reflex-dark.svg
  docs/public/library-logos/reflex-light.svg
Labels: 🌍 site

#2641 feat(icons): added `droplet-off` icon
  icons/droplet-off.json
  icons/droplet-off.svg
Labels: 🎨 icon, 🫧 metadata

#2656 fix(icons/bell): Lucide-ify bell icons
  icons/bell-dot.svg
  icons/bell-minus.svg
  icons/bell-off.svg
  icons/bell-plus.svg
  icons/bell-ring.svg
  icons/bell.svg
Labels: 🎨 icon

#2645 feat(icons): added `list-filter-plus` icon
  icons/list-filter-plus.json
  icons/list-filter-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2385 feat(icons): added `scan-heart` icon
  icons/scan-heart.json
  icons/scan-heart.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2399 fix(icons): changed `book-dashed` icon
  icons/book-dashed.svg
Labels: 🎨 icon

#2529 feat(icons): added `waves-ladder` icon
  icons/waves-ladder.json
  icons/waves-ladder.svg
Labels: 🎨 icon, 🫧 metadata

#2666 fix(lucide-react): support React 19
  packages/lucide-react/package.json
Labels: ⚛️ react package

#2658 chore(metadata): add more tags to `rotate-ccw` icon metadata
  icons/rotate-ccw.json
Labels: 🫧 metadata

#2664 chore(metadata): add more tags to `trophy` icon
  icons/trophy.json
Labels: 🫧 metadata

#2610 feat(icons): upgrade snowflake icons to match real life
  icons/snowflake.json
  icons/snowflake.svg
  icons/sun-snow.svg
  icons/thermometer-snowflake.json
  icons/thermometer-snowflake.svg
Labels: 🎨 icon, 🫧 metadata
