Repository lucide-icons/lucide, pull requests merged in 2024-11, with the labels that each got.

#2557 fix(icons): changed `undo-dot` icon
  icons/undo-dot.svg
Labels: 🎨 icon

#2589 update code example for lucide-svelte direct import
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🌍 site

#2579 fix(icons): changed `glass-water` icon
  icons/glass-water.svg
Labels: 🎨 icon

#2326 fix(icons): Fix rounding to hand-platter icon
  icons/hand-platter.svg
Labels: 🎨 icon

#2512 fix(icons): changed `bath` icon
  icons/bath.json
  icons/bath.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2609 docs: update lucide-svelte.md
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🌍 site

#2598 fix(icons): arcified `school` icon
  icons/school.svg
Labels: 🎨 icon, 🫧 metadata

#2578 fix(icons): changed `cross` icon
  icons/cross.svg
Labels: 🎨 icon

#2559 fix(icons): changed `hard-hat` icon
  icons/hard-hat.svg
Labels: 🎨 icon

#2546 fix(icons): changed `heading-4` icon
  icons/heading-4.json
  icons/heading-4.svg
Labels: 🎨 icon, 🫧 metadata

#2556 fix(icons): changed `vegan` icon
  icons/vegan.svg
Labels: 🎨 icon

#2605 fix: #2566 expand card beyond max-width limit by adjusting CSS
  docs/.vitepress/theme/components/home/HomeIconCustomizer.vue
Labels: 🌍 site

#2563 feat(icons): added `laptop-minimal-check` icon
  icons/laptop-minimal-check.json
  icons/laptop-minimal-check.svg
Labels: 🎨 icon, 🫧 metadata

#1919 fix(icons): update `drill` icon
  icons/drill.json
  icons/drill.svg
Labels: 🎨 icon, 🫧 metadata

#2584 feat(lucide-svelte): Aliased imports for direct imports
  packages/lucide-svelte/package.json
  packages/lucide-svelte/scripts/license.mjs
  packages/lucide/rollup.config.mjs
  tools/build-icons/building/aliases/generateAliasesFiles.mjs
  tools/build-icons/building/generateIconFiles.mjs
  tools/build-icons/cli.mjs
  tools/build-icons/utils/getAliases.mjs
  tools/build-icons/utils/getIconMetaData.mjs
Labels: 🧳 lucide package, 🧣 svelte package

#2611 feat(icons): Add `cloud-alert` icon
  icons/cloud-alert.json
  icons/cloud-alert.svg
Labels: 🎨 icon, 🫧 metadata

#2594 feat(icons): added `equal-approximately` icon
  icons/equal-approximately.json
  icons/equal-approximately.svg
Labels: 🎨 icon, 🫧 metadata

#2141 feat(icons): Add toilet icon
  icons/toilet.json
  icons/toilet.svg
Labels: 🎨 icon, 🌍 site, 🫧 metadata

#2615 fix(lucide-svelte): Replace file extension build config
  packages/lucide-svelte/package.json
Labels: 🧣 svelte package

#2621 [DOCS] Svelte 5 specifics for making components with the lucide-svelte package
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🌍 site

#2627 fix(icons): changed `scale-3d` icon
  icons/scale-3d.svg
Labels: 🎨 icon

#2638 feat(angular): add support for angular 19
  packages/lucide-angular/package.json
Labels: 🅰️ angular package

#2634 docs(readme): Update readme files
  README.md
  docs/.vitepress/data/packageData.json
  docs/.vitepress/sidebar.ts
  docs/guide/packages/lucide-vue-next.md
  docs/guide/packages/lucide-vue.md
  docs/public/package-logos/lucide-angular.svg
  docs/public/package-logos/lucide-preact.svg
  docs/public/package-logos/lucide-react-native.svg
  docs/public/package-logos/lucide-react.svg
  docs/public/package-logos/lucide-solid.svg
  docs/public/package-logos/lucide-static.svg
  docs/public/package-logos/lucide-svelte.svg
  docs/public/package-logos/lucide-vue.svg
  docs/public/package-logos/lucide.svg
  packages/lucide-angular/README.md
  packages/lucide-preact/README.md
  packages/lucide-react-native/README.md
  packages/lucide-react/README.md
  packages/lucide-solid/README.md
  packages/lucide-static/README.md
  packages/lucide-svelte/README.md
  packages/lucide-vue-next/README.md
  packages/lucide-vue/README.md
  packages/lucide/README.md
Labels: 📖 documentation, 🌍 site, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package, 🅰️ angular package, 🪨 static package

#2590 feat(icons): added `calendar-sync` icon
  icons/calendar-sync.json
  icons/calendar-sync.svg
Labels: 🎨 icon, 🫧 metadata

#2478 fix(icons): changed `shuffle` icon
  icons/shuffle.json
  icons/shuffle.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2628 fix(metadata): added window related tags to `grid-2x2` icon metadata file
  icons/grid-2x2.json
  icons/grid-2x2.svg
Labels: 🎨 icon, 🫧 metadata

#2229 feat(docs): add icon showcase to icon page
  docs/.vitepress/theme/components/home/HomeHeroBefore.data.ts
  docs/.vitepress/theme/components/icons/IconShowcase.vue
  docs/.vitepress/theme/components/icons/RelatedIcons.vue
  docs/icons/[name].md
Labels: 📖 documentation, 🎨 icon, 🌍 site, Stale, 🫧 metadata

#1950 fix(icons): made the `venetian-mask` icon a bit bigger and change the eye whole shape to a single line to not violate the 2px gap rule
  icons/venetian-mask.json
  icons/venetian-mask.svg
Labels: 🎨 icon, 🫧 metadata

#2462 feat(icons): added `image-upscale` icon
  icons/image-upscale.json
  icons/image-upscale.svg
Labels: 🎨 icon, 🫧 metadata

#2642 feat(docs): add Bun.sh support to documentation
  CONTRIBUTING.md
  docs/guide/installation.md
  docs/guide/packages/lucide-angular.md
  docs/guide/packages/lucide-preact.md
  docs/guide/packages/lucide-react-native.md
  docs/guide/packages/lucide-react.md
  docs/guide/packages/lucide-solid.md
  docs/guide/packages/lucide-static.md
  docs/guide/packages/lucide-svelte.md
  docs/guide/packages/lucide-vue-next.md
  docs/guide/packages/lucide-vue.md
  docs/guide/packages/lucide.md
  packages/lucide-angular/README.md
  packages/lucide-preact/README.md
  packages/lucide-react-native/README.md
  packages/lucide-react/README.md
  packages/lucide-solid/README.md
  packages/lucide-static/README.md
  packages/lucide-svelte/README.md
  packages/lucide-vue-next/README.md
  packages/lucide-vue/README.md
  packages/lucide/README.md
Labels: 📖 documentation, 🌍 site, ⚛️ react package, 💎 vue package, ⚛️ preact package, 🧳 lucide package, 🧣 svelte package, ⚛️ react native package, 🪝 solid package, 🅰️ angular package, 🪨 static package

#2650 fix(docs): Fix empy icon page
  docs/.vitepress/theme/components/icons/IconsOverview.vue
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site
