Repository lucide-icons/lucide, pull requests merged in 2025-05, with the labels that each got.

#3165 feat(icons): added `hamburger` icon
  icons/hamburger.json
  icons/hamburger.svg
Labels: 🎨 icon, 🫧 metadata

#3174 fix(icons): changed `package-2` icon
  icons/package-2.json
  icons/package-2.svg
Labels: 🎨 icon, 🫧 metadata

#3152 docs(icon-design-guide): point people to lucide studio instead of svgo
  docs/guide/design/icon-design-guide.md
Labels: 📖 documentation, 🌍 site

#3112 fix(lucide-svelte): Resolve Svelte 5 deprecation of svelte:component
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🎨 icon, 🌍 site, 🫧 metadata

#2395 feat(icons): added `brush-cleaning` icon
  icons/brush-cleaning.json
  icons/brush-cleaning.svg
Labels: 🎨 icon, 🫧 metadata

#3143 fix(icons): changed `users` icon
  icons/users.json
  icons/users.svg
Labels: 🎨 icon, 🫧 metadata

#3137 fix(icons): changed `locate-off` icon
  icons/locate-off.json
  icons/locate-off.svg
Labels: 🎨 icon, 🫧 metadata

#2831 fix(icons): changed `expand` icon
  icons/expand.svg
Labels: 🎨 icon, 🫧 metadata

#2996 feat(icons): Added clock plus icon.
  icons/clock-plus.json
  icons/clock-plus.svg
Labels: 🎨 icon, 🫧 metadata

#3155 fix(metadata): added tags to `square-pen` icon
  icons/square-pen.json
Labels: 🫧 metadata

#3140 fix(icons): changed `search` icon
  icons/search.json
  icons/search.svg
Labels: 🎨 icon, 🫧 metadata

#3005 fix(dev): resets Absolute Stroke Width
  docs/.vitepress/theme/components/base/Switch.vue
  docs/.vitepress/theme/components/home/HomeIconCustomizer.vue
  docs/.vitepress/theme/components/icons/SidebarIconCustomizer.vue
Labels: 🌍 site

#3115 fix(icons): changed `guitar` icon
  icons/guitar.svg
Labels: 🎨 icon

#3110 fix(Icons): Adding missing categories to 4 Icons
  icons/bomb.json
  icons/copyleft.json
  icons/copyright.json
  icons/creative-commons.json
Labels: 🫧 metadata

#3117 fix(icons): changed `air-vent` icon
  icons/air-vent.json
  icons/air-vent.svg
Labels: 🎨 icon, 🫧 metadata

#3107 fix(icons): rotate `dumbbell` icon
  icons/dumbbell.svg
Labels: 🎨 icon, 🫧 metadata

#3118 fix(icons): changed `touchpad-off` icon
  icons/touchpad-off.json
  icons/touchpad-off.svg
Labels: 🎨 icon, 🫧 metadata

#3139 fix(icons): changed `bell-electric` icon
  icons/bell-electric.json
  icons/bell-electric.svg
Labels: 🎨 icon, 🫧 metadata

#3142 fix(icons): changed `menu` icon
  icons/menu.svg
Labels: 🎨 icon

#3144 fix(icons): changed `mail` icon
  icons/mail.json
  icons/mail.svg
Labels: 🎨 icon, 🫧 metadata

#3088 feat(icons): added `soap-dispenser-droplet` icon
  icons/soap-dispenser-droplet.json
  icons/soap-dispenser-droplet.svg
Labels: 🎨 icon, 🫧 metadata

#2094 feat(icons): added `panda` icon
  icons/panda.json
  icons/panda.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#3184 docs(packages): Update names in docs
  docs/guide/advanced/accessibility.md
  docs/guide/advanced/aliased-names.md
  docs/guide/packages/lucide-angular.md
  docs/guide/packages/lucide-astro.md
  docs/guide/packages/lucide-preact.md
  docs/guide/packages/lucide-react-native.md
  docs/guide/packages/lucide-react.md
  docs/guide/packages/lucide-solid.md
  docs/guide/packages/lucide-static.md
  docs/guide/packages/lucide-svelte.md
  docs/guide/packages/lucide-vue-next.md
  docs/guide/packages/lucide.md
Labels: 📖 documentation, 🌍 site

#3192 chore(metadata): add `lens` tag to icons with magnifying glass
  icons/calendar-search.json
  icons/file-search-2.json
  icons/file-search.json
  icons/folder-search-2.json
  icons/folder-search.json
  icons/mail-search.json
  icons/package-search.json
  icons/search-check.json
  icons/search-code.json
  icons/search-slash.json
  icons/search-x.json
  icons/search.json
  icons/text-search.json
  icons/user-round-search.json
  icons/user-search.json
Labels: 🫧 metadata

#3197 revert(site): resets Absolute Stroke Width
  docs/.vitepress/theme/components/base/Switch.vue
  docs/.vitepress/theme/components/home/HomeIconCustomizer.vue
  docs/.vitepress/theme/components/icons/SidebarIconCustomizer.vue
Labels: 🌍 site

#2955 feat(icons): added `gpu` icon
  icons/gpu.json
  icons/gpu.svg
Labels: 🎨 icon, 🫧 metadata

#3172 fix(icons): changed `brackets` icon
  icons/brackets.json
  icons/brackets.svg
Labels: 🎨 icon, 🫧 metadata

#3168 fix(icons): Optimise a number of icons using `<line>` and `<polyline>`
  icons/code.svg
  icons/corner-down-left.svg
  icons/corner-down-right.svg
  icons/corner-left-down.svg
  icons/corner-left-up.svg
  icons/corner-right-down.svg
  icons/corner-right-up.svg
  icons/corner-up-left.svg
  icons/corner-up-right.svg
  icons/download.svg
  icons/forward.svg
  icons/iteration-ccw.svg
  icons/iteration-cw.svg
  icons/log-in.svg
  icons/log-out.svg
  icons/maximize-2.svg
  icons/minimize-2.svg
  icons/reply-all.svg
  icons/reply.svg
  icons/separator-horizontal.svg
  icons/separator-vertical.svg
  icons/share.svg
  icons/terminal.svg
  icons/trending-down.svg
  icons/trending-up.svg
  icons/tv.svg
  icons/type.svg
  icons/upload.svg
  icons/user-check.svg
  icons/wrap-text.svg
Labels: 🎨 icon

#3199 fix(icons): changed `axis-3d` icon
  icons/axis-3d.json
  icons/axis-3d.svg
Labels: 🎨 icon, 🫧 metadata

#3189 fix(icons): changed `chevrons-left-right-ellipsis` icon
  icons/chevrons-left-right-ellipsis.json
  icons/chevrons-left-right-ellipsis.svg
Labels: 🎨 icon, 🫧 metadata

#3173 fix(icons): changed `square-code` icon
  icons/square-code.json
  icons/square-code.svg
Labels: 🎨 icon, 🫧 metadata

#3180 fix(icons): changed `satellite` icon
  icons/satellite.svg
Labels: 🎨 icon

#2970 fix(icons): changed `factory` icon
  icons/factory.svg
Labels: 🎨 icon

#2966 fix(icons): changed `warehouse` icon
  icons/warehouse.json
  icons/warehouse.svg
Labels: 🎨 icon, 🫧 metadata

#3204 feat(icons): added `square-dashed-top-solid` icon
  icons/square-dashed-top-solid.json
  icons/square-dashed-top-solid.svg
Labels: 🎨 icon, 🫧 metadata

#2822 feat(icons): added `circle-pound-sterling` icon
  icons/circle-pound-sterling.json
  icons/circle-pound-sterling.svg
Labels: 🎨 icon, 🫧 metadata

#3156 fix(icons): changed `square-check-big` icon
  icons/square-check-big.svg
Labels: 🎨 icon, 🫧 metadata

#3083 fix(icons): changed `battery-*` icons
  icons/battery-charging.json
  icons/battery-charging.svg
  icons/battery-full.json
  icons/battery-full.svg
  icons/battery-low.json
  icons/battery-low.svg
  icons/battery-medium.json
  icons/battery-medium.svg
  icons/battery-plus.svg
  icons/battery-warning.json
  icons/battery-warning.svg
  icons/battery.json
  icons/battery.svg
Labels: 🎨 icon, 🫧 metadata

#2956 fix(icons): changed `paperclip` icon
  icons/paperclip.svg
Labels: 🎨 icon, 🫧 metadata

#3076 fix(icons): changed `eraser` icon
  icons/eraser.json
  icons/eraser.svg
Labels: 🎨 icon, 🫧 metadata

#2612 feat(icons): Add `cloud-check` icon
  icons/cloud-check.json
  icons/cloud-check.svg
Labels: 🎨 icon, 🫧 metadata

#2898 feat(icon): add `id-card-lanyard` icon
  icons/id-card-lanyard.json
  icons/id-card-lanyard.svg
Labels: 🎨 icon, 🫧 metadata
