Repository lucide-icons/lucide, pull requests merged in 2025-02, with the labels that each got.

#2769 fix: Redirect aliases site
  docs/.vitepress/data/categoriesData.json
  docs/scripts/writeVercelOutput.mjs
Labels: 🌍 site

#2778 ci: Improve build speeds
  docs/scripts/writeCategoriesMetadata.mjs
  docs/scripts/writeIconDetails.mjs
  docs/scripts/writeIconMetaIndex.mjs
  docs/scripts/writeIconNodes.mjs
  docs/scripts/writeIconRelatedIcons.mjs
  docs/scripts/writeReleaseMetadata.mjs
  docs/scripts/writeVercelOutput.mjs
  packages/lucide-angular/scripts/exportTemplate.mjs
  packages/lucide-preact/rollup.config.mjs
  packages/lucide-preact/scripts/exportTemplate.mjs
  packages/lucide-react-native/scripts/exportTemplate.mjs
  packages/lucide-react/scripts/exportTemplate.mjs
  packages/lucide-solid/scripts/exportTemplate.mjs
  packages/lucide-static/scripts/buildLib.mjs
  packages/lucide-static/scripts/exportTemplate.mjs
  packages/lucide-static/scripts/generateIconNodes.mjs
  packages/lucide-static/scripts/generateSprite.mjs
  packages/lucide-static/scripts/readSvgs.mjs
  packages/lucide-svelte/package.json
  packages/lucide-svelte/scripts/appendBlockComments.mjs
  packages/lucide-svelte/scripts/exportTemplate.mjs
  packages/lucide-vue-next/scripts/exportTemplate.mjs
  packages/lucide-vue/scripts/exportTemplate.mjs
  packages/lucide/scripts/exportTemplate.mjs
  pnpm-lock.yaml
  scripts/migrateCategoriesToIcons.mjs
  scripts/migrateIconsToTags.mjs
  tools/build-helpers/src/appendFile.mjs
  tools/build-helpers/src/readAllMetadata.mjs
  tools/build-helpers/src/readFile.mjs
  tools/build-helpers/src/readMetadata.mjs
  tools/build-helpers/src/readSvg.mjs
  tools/build-helpers/src/readSvgDirectory.mjs
  tools/build-helpers/src/resetFile.mjs
  tools/build-helpers/src/writeFile.mjs
  tools/build-helpers/src/writeFileIfNotExists.mjs
  tools/build-helpers/src/writeSvgFile.mjs
  tools/build-icons/building/aliases/generateAliasesFiles.mjs
  tools/build-icons/building/generateDynamicImports.mjs
  tools/build-icons/building/generateExportsFile.mjs
  tools/build-icons/building/generateIconFiles.mjs
  tools/build-icons/cli.mjs
  tools/build-icons/package.json
  tools/build-icons/render/renderIconsObject.mjs
  tools/build-icons/utils/getAliases.mjs
  tools/build-icons/utils/getIconMetaData.mjs
Labels: 📦 dependencies, 🌍 site, ⚛️ preact package, 🧣 svelte package

#2814 fix(lucide-react): Revert exports property package.json, fixing edge worker environments.
  .gitignore
  packages/lucide-react/dynamicIconImports.mjs
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
Labels: ⚛️ react package

#2832 fix(icons): optimized `beef` icon
  icons/beef.svg
Labels: 🎨 icon

#2816 fix(lucide): Lucide create element function returning SVG Element
  docs/guide/packages/lucide.md
  packages/lucide/src/createElement.ts
  packages/lucide/src/replaceElement.ts
  packages/lucide/tests/__snapshots__/createElement.spec.ts.snap
  packages/lucide/tests/createElement.spec.ts
  packages/lucide/tests/helpers.ts
  packages/lucide/tests/lucide.spec.ts
Labels: 📖 documentation, 🌍 site, 🧳 lucide package

#2608 feat(icons): added `shield-user` icon
  icons/shield-user.json
  icons/shield-user.svg
Labels: 🎨 icon, 🫧 metadata

#2618 feat(docs): Add deprecated badge for icons with deprecation status
  docs/.vitepress/theme/components/icons/IconInfo.vue
  docs/.vitepress/theme/types.ts
  docs/scripts/writeIconDetails.mjs
Labels: 🌍 site, Stale

#2676 docs: updated guideline icons
  docs/images/1px-border-radius.svg
  docs/images/1px-padding.svg
  docs/images/24px-24px.svg
  docs/images/2px-border-radius.svg
  docs/images/2px-element-spacing.svg
  docs/images/2px-stroke.svg
  docs/images/centered-strokes.svg
  docs/images/curvature-smooth.svg
  docs/images/density-ideal.svg
  docs/images/optical-volume-ideal.svg
  docs/images/round-caps.svg
  docs/images/visually-centered-bad.svg
  docs/images/visually-centered.svg
  scripts/updateGuidelineIcons.mjs
Labels: 🌍 site, Stale

#2581 feat(docs): Make input autofocus in the /icons page
  docs/.vitepress/theme/components/base/InputSearch.vue
Labels: 🌍 site, Stale

#2323 feat(icons): added `square-round-corner` icon
  icons/square-round-corner.json
  icons/square-round-corner.svg
Labels: 🎨 icon, Stale, 🫧 metadata
