Repository lucide-icons/lucide, pull requests merged in 2025-01, with the labels that each got.

#2712 fix(scripts): Fix auto formatting script
  icons/grid-2x2-check.json
  icons/grid-2x2-x.json
  scripts/generateChangedIconsCommentMarkup.mjs
  scripts/generateNextJSAliases.mjs
Labels: 🫧 metadata

#2715 fix(site): use lab icon name in vue and svelte examples
  docs/.vitepress/lib/codeExamples/createLabCodeExamples.ts
Labels: 🌍 site

#2698 chore(metadata): add city tag to building-2 icon
  icons/building-2.json
Labels: 🫧 metadata

#2723 feat(icons): Add house-wifi icon
  icons/house-wifi.json
  icons/house-wifi.svg
Labels: 🎨 icon, 🫧 metadata

#2686 feat(lucide-react): Add DynamicIcon component
  docs/guide/packages/lucide-react.md
  packages/lucide-react/package.json
  packages/lucide-react/rollup.config.mjs
  packages/lucide-react/scripts/exportTemplate.mjs
  packages/lucide-react/src/DynamicIcon.ts
  packages/lucide-react/src/dynamic.ts
  packages/lucide-react/tests/DynamicIcon.spec.tsx
  packages/lucide-react/tests/__snapshots__/DynamicIcon.spec.tsx.snap
  pnpm-lock.yaml
  tools/build-icons/building/generateDynamicImports.mjs
  tools/build-icons/cli.mjs
Labels: 📖 documentation, 📦 dependencies, 🎨 icon, 🌍 site, ⚛️ react package, 🫧 metadata

#2652 feat(icons): adds triangle-dashed icon
  icons/triangle-dashed.json
  icons/triangle-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#2731 fix(lucide-react) Adds type module in package.json
  packages/lucide-react/package.json
Labels: ⚛️ react package

#2697 feat(icons): added `map-plus` icon
  icons/map-plus.json
  icons/map-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2693 feat(icons): added `battery-plus` icon
  icons/battery-plus.json
  icons/battery-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2706 fix(icons): update package.svg to be consistent with other package-derived icons
  icons/package.json
  icons/package.svg
Labels: 🎨 icon, 🫧 metadata

#2749 fix(bolt-icon): correct "contruction" typo in tags to "construction"
  icons/bolt.json
Labels: 🫧 metadata

#2677 fix(icons): changed `expand` icon
  icons/expand.json
  icons/expand.svg
Labels: 🎨 icon, 🫧 metadata

#2750 fix: Hide add if script is blocked
  docs/.vitepress/theme/components/icons/CarbonAdOverlay.vue
Labels: 🌍 site

#2727 Update lucide-svelte for compatibility with Svelte 5 runes mode
  packages/lucide-svelte/package.json
  packages/lucide-svelte/scripts/exportTemplate.mjs
  packages/lucide-svelte/src/Icon.svelte
  packages/lucide-svelte/src/types.ts
  packages/lucide-svelte/tests/__snapshots__/Icon.spec.ts.snap
  packages/lucide-svelte/tests/__snapshots__/lucide-svelte.spec.ts.snap
  packages/lucide-svelte/vitest.config.ts
  pnpm-lock.yaml
Labels: 📦 dependencies, 🧣 svelte package
