Repository lucide-icons/lucide, pull requests merged in 2025-07, with the labels that each got.

#3381 fix(icons): changed `brain` icon
  icons/brain.json
  icons/brain.svg
Labels: 🎨 icon, 🫧 metadata

#3374 fix(icons): changed `cable` icon
  icons/cable.json
  icons/cable.svg
Labels: 🎨 icon, 🫧 metadata

#3394 fix(icons): changed `trash` icon
  icons/trash-2.svg
  icons/trash.svg
Labels: 🎨 icon

#2663 fix(icons): changed `pen-line` and `pencil-line` icon
  icons/pen-line.json
  icons/pen-line.svg
  icons/pencil-line.json
  icons/pencil-line.svg
Labels: 🎨 icon, 🫧 metadata

#3435 fix(icons): changed `magnet` icon
  icons/magnet.svg
Labels: 🎨 icon

#3132 feat(icons): added `wifi-sync` icon
  icons/wifi-sync.json
  icons/wifi-sync.svg
Labels: 🎨 icon, 🫧 metadata

#3450 feat(icons): added `spotlight` icon
  icons/spotlight.json
  icons/spotlight.svg
Labels: 🎨 icon, 🫧 metadata

#3454 fix(icons): changed `lasso` icon
  icons/lasso.json
  icons/lasso.svg
Labels: 🎨 icon, 🫧 metadata

#3442 fix(icons): changed `gem` icon
  icons/gem.json
  icons/gem.svg
Labels: 🎨 icon, 🫧 metadata

#3428 fix(icons): changed `croissant` icon
  icons/croissant.svg
Labels: 🎨 icon

#3458 fix(icons): changed `shovel` icon
  icons/shovel.json
  icons/shovel.svg
Labels: 🎨 icon, 🫧 metadata

#2972 fix(icons): changed `castle` icon
  icons/castle.svg
Labels: 🎨 icon

#3462 fix(icons): Rename `location-edit` to `map-pin-pencil`
  icons/map-pin-pen.json
  icons/map-pin-pen.svg
  scripts/rename/renameIcon.function.mts
Labels: 🎨 icon, 🫧 metadata

#3464 fix(icons): changed `user-star` icon
  icons/user-star.svg
Labels: 🎨 icon

#3427 feat(icons): added `clipboard-clock` icon
  icons/clipboard-clock.json
  icons/clipboard-clock.svg
Labels: 🎨 icon, 🫧 metadata

#3416 fix(docs): Icon Component Example for Svelte 5 does not compile
  docs/guide/packages/lucide-svelte.md
Labels: 📖 documentation, 🌍 site

#3396 fix(icons): Changed `a-large-small` icon
  icons/a-large-small.json
  icons/a-large-small.svg
  icons/case-lower.json
  icons/case-lower.svg
  icons/case-sensitive.json
  icons/case-sensitive.svg
  icons/case-upper.json
  icons/case-upper.svg
Labels: 🎨 icon, 🫧 metadata

#2558 fix(icons): changed `folder-symlink` icon
  icons/folder-symlink.svg
Labels: 🎨 icon, Stale

#2910 feat(icons): added `closed-caption` icon
  icons/closed-caption.json
  icons/closed-caption.svg
Labels: 🎨 icon, 🫧 metadata

#3467 fix(icons): changed `settings` icon
  icons/settings.json
  icons/settings.svg
Labels: 🎨 icon, 🫧 metadata

#2935 fix(icons): changed `mails`, `tags`, `files`, `file-stack`, `book-copy` and `folders` icon
  icons/book-copy.svg
  icons/file-stack.json
  icons/file-stack.svg
  icons/files.json
  icons/files.svg
  icons/folders.svg
  icons/images.svg
  icons/mails.json
  icons/mails.svg
  icons/tags.json
  icons/tags.svg
Labels: 🎨 icon, 🫧 metadata

#3365 feat(SvgPreview): add features from lucide studio
  docs/.vitepress/api/gh-icon/[...data].get.ts
  docs/.vitepress/lib/SvgPreview/GapViolationHighlight.tsx
  docs/.vitepress/lib/SvgPreview/index.tsx
  docs/.vitepress/lib/SvgPreview/path-to-points.ts
  docs/.vitepress/lib/SvgPreview/utils.ts
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site, Stale

#3470 chore(docs): Update vitepress deps
  docs/.vitepress/config.ts
  docs/.vitepress/theme/style.css
  docs/nitro.config.ts
  docs/package.json
  pnpm-lock.yaml
Labels: 📦 dependencies, 🌍 site
