Repository lucide-icons/lucide, pull requests merged in 2025-04, with the labels that each got.

#2932 feat(icons): added `spline-pointer` icon
  icons/spline-pointer.json
  icons/spline-pointer.svg
Labels: 🎨 icon, 🫧 metadata

#2983 fix(dev): point urls on packages page to correct page
  docs/.vitepress/theme/components/packages/PackageList.data.ts
Labels: 🌍 site

#3004 Typo fix for @lucide/astro badge
  docs/.vitepress/data/packageData.json
Labels: 🌍 site

#2999 removed flutter package link
  docs/guide/index.md
Labels: 📖 documentation, 🌍 site

#3029 fix(icons): changed `text` icon
  icons/text.json
  icons/text.svg
Labels: 🎨 icon, 🫧 metadata

#3030 fix(icons): changed `letter-text` icon
  icons/letter-text.svg
Labels: 🎨 icon

#3028 fix(icons): changed `text-select` icon
  icons/text-select.svg
Labels: 🎨 icon

#3049 fix(icons): changed `toggle` icons
  icons/toggle-left.json
  icons/toggle-left.svg
  icons/toggle-right.json
  icons/toggle-right.svg
Labels: 🎨 icon, 🫧 metadata

#3025 fix(dev): added link for preact in installation
  docs/guide/installation.md
Labels: 📖 documentation, 🌍 site

#2918 fix(icons): added 2px gap between layers of `layers-2` icon
  icons/layers-2.json
  icons/layers-2.svg
Labels: 🎨 icon, 🫧 metadata

#3027 fix(icons): changed `text-cursor-input` icon
  icons/text-cursor-input.svg
Labels: 🎨 icon

#3044 fix(icons): changed `piggy-bank` icon
  icons/piggy-bank.json
  icons/piggy-bank.svg
Labels: 🎨 icon, 🫧 metadata

#2587 feat(icons): added `rotate-ccw-key` icon
  icons/rotate-ccw-key.json
  icons/rotate-ccw-key.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2927 fix(icons): changed `pipette` icon
  icons/pipette.json
  icons/pipette.svg
Labels: 🎨 icon, 🫧 metadata

#2842 feat(icons): added `heart-plus` & `heart-minus` icon
  icons/heart-minus.json
  icons/heart-minus.svg
  icons/heart-plus.json
  icons/heart-plus.svg
Labels: 🎨 icon, 🫧 metadata

#2582 feat(icons): added `bubbles` icon
  icons/bubbles.json
  icons/bubbles.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#3058 docs(studio): Add lucide studio to site navbar
  CONTRIBUTING.md
  docs/.vitepress/config.ts
Labels: 🌍 site

#3015 fix(icons): changed `palette` icon
  icons/palette.json
  icons/palette.svg
Labels: 🎨 icon, 🫧 metadata

#3036 feat(icons): added `brick-wall-fire` icon
  icons/brick-wall-fire.json
  icons/brick-wall-fire.svg
Labels: 🎨 icon, 🫧 metadata

#3033 fix(icons): changed `cpu` icon
  icons/cpu.svg
Labels: 🎨 icon

#2957 feat(icons): added map-pin-edit icon #2874
  icons/location-edit.json
  icons/location-edit.svg
Labels: 🎨 icon, 🫧 metadata

#2515 feat(icons): added `rectangle-goggles` icon
  icons/rectangle-goggles.json
  icons/rectangle-goggles.svg
Labels: 🎨 icon, 🫧 metadata

#2585 feat(icons): added `squares-*` operation icons
  icons/squares-exclude.json
  icons/squares-exclude.svg
  icons/squares-intersect.json
  icons/squares-intersect.svg
  icons/squares-subtract.json
  icons/squares-subtract.svg
  icons/squares-unite.json
  icons/squares-unite.svg
  package-lock.json
Labels: 🎨 icon, 🫧 metadata

#3052 feat(icons): added `shredder` icon
  icons/shredder.json
  icons/shredder.svg
Labels: 🎨 icon, 🫧 metadata

#2418 feat(icons): added `bow-arrow` icon
  icons/bow-arrow.json
  icons/bow-arrow.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2782 fix(icons): updated `*-cog` icons
  icons/brain-cog.json
  icons/brain-cog.svg
  icons/calendar-cog.json
  icons/calendar-cog.svg
  icons/cloud-cog.json
  icons/cloud-cog.svg
  icons/file-cog.json
  icons/file-cog.svg
  icons/folder-cog.json
  icons/folder-cog.svg
  icons/monitor-cog.json
  icons/monitor-cog.svg
  icons/server-cog.json
  icons/server-cog.svg
  icons/user-cog.json
  icons/user-cog.svg
  icons/user-round-cog.json
  icons/user-round-cog.svg
Labels: 🎨 icon, 🫧 metadata

#2267 fix(icons): arcified `lamp-*` icons
  icons/lamp-ceiling.json
  icons/lamp-ceiling.svg
  icons/lamp-desk.json
  icons/lamp-desk.svg
  icons/lamp-floor.json
  icons/lamp-floor.svg
  icons/lamp-wall-down.json
  icons/lamp-wall-down.svg
  icons/lamp-wall-up.json
  icons/lamp-wall-up.svg
  icons/lamp.svg
Labels: 🎨 icon, 🫧 metadata

#2941 fix(icons): changed `traffic-cone` icon
  icons/traffic-cone.json
  icons/traffic-cone.svg
Labels: 🎨 icon, 🫧 metadata

#1803 Add `electric-truck` icon
  icons/truck-electric.json
  icons/truck-electric.svg
Labels: 🎨 icon, 🫧 metadata

#2818 feat(icons): Add `user-lock` icon
  icons/user-lock.json
  icons/user-lock.svg
Labels: 🎨 icon, 🫧 metadata

#2502 feat: added request-review workflow
  .github/workflows/request-review.yml
Labels: Stale

#2763 feat(icons): Add columns-3-cog icon
  icons/columns-3-cog.json
  icons/columns-3-cog.svg
Labels: 🎨 icon, 🫧 metadata

#3072 fix(build): fix shredder formatting and duplicate contributors error
  icons/shredder.json
Labels: 🫧 metadata

#3071 fix(icons): rebase non-binary on square-asterisk
  icons/non-binary.svg
Labels: 🎨 icon

#3090 docs(CONTRIBUTING): Grammar fix for CONTRIBUTING
  CONTRIBUTING.md
Labels: 🎨 icon, 🫧 metadata

#3085 fix(icons): changed `calendar-plus` icon
  icons/calendar-plus.json
  icons/calendar-plus.svg
Labels: 🎨 icon, 🫧 metadata

#3062 fix(icons): changed `book-key` icon
  icons/book-key.svg
Labels: 🎨 icon

#3075 fix(icons): changed `clipboard-paste` icon
  icons/clipboard-paste.json
  icons/clipboard-paste.svg
Labels: 🎨 icon, 🫧 metadata

#3074 fix(icons): changed `orbit` icon
  icons/orbit.svg
Labels: 🎨 icon

#2535 feat(icons): added `ruler-dimension-line` icon
  icons/ruler-dimension-line.json
  icons/ruler-dimension-line.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2933 fix(icons): changed `file-badge-2` icon
  icons/file-badge-2.json
  icons/file-badge-2.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2576 feat(icons): added `wifi-pen` icon
  icons/wifi-pen.json
  icons/wifi-pen.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#3011 fix(icons): redesigned `brush` icon
  icons/brush.json
  icons/brush.svg
Labels: 🎨 icon, 🫧 metadata

#3166 fix(site): remove studio link from navbar
  docs/.vitepress/config.ts
Labels: 🌍 site
