Repository lucide-icons/lucide, pull requests merged in 2025-08, with the labels that each got.

#3511 fix(site): fixes icon style customiser
  docs/.vitepress/theme/components/icons/IconItem.vue
  docs/.vitepress/theme/components/icons/IconPreview.vue
  docs/.vitepress/theme/components/icons/SidebarIconCustomizer.vue
  docs/.vitepress/theme/composables/useIconStyle.ts
Labels: 🌍 site

#2823 fix(icons): changed `mic-off` icon
  icons/mic-off.json
  icons/mic-off.svg
Labels: 🎨 icon, 🫧 metadata

#2862 fix(icons): deprecate rail-symbol
  icons/rail-symbol.json
Labels: Stale, 🫧 metadata

#3054 feat(icons): added `kayak` icon
  icons/kayak.json
  icons/kayak.svg
Labels: 🎨 icon, 🌍 site, 🫧 metadata

#3566 fix(icons): changed `wallpaper` icon
  icons/wallpaper.json
  icons/wallpaper.svg
Labels: 🎨 icon, 🫧 metadata

#3552 feat(preview comment): add link to lucide studio to x-ray images
  scripts/generateChangedIconsCommentMarkup.mts
Labels: 🌍 site

#3548 fix(icons): optimized `cog` icon
  icons/cog.svg
Labels: 🎨 icon

#2971 fix(icons): changed `church` icon
  icons/church.svg
Labels: 🎨 icon

#3529 chore(metadata): Added tags to `messages-square`
  icons/messages-square.json
Labels: 🫧 metadata

#3574 fix(icons): Optimise `bug` icons
  icons/bug-off.json
  icons/bug-off.svg
  icons/bug-play.json
  icons/bug-play.svg
  icons/bug.json
  icons/bug.svg
Labels: 🎨 icon, 🫧 metadata

#3584 fix(icons): changed `panel-top-bottom-dashed` icon
  icons/panel-left-right-dashed.json
  icons/panel-left-right-dashed.svg
  icons/panel-top-bottom-dashed.json
  icons/panel-top-bottom-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#3559 fix(meta): added tag to `ship` metadata
  icons/ship.json
Labels: 🎨 icon, 🫧 metadata
