Repository lucide-icons/lucide, pull requests merged in 2025-03, with the labels that each got.

#2866 fix(metadata): name change reflected in contributions
  icons/dam.json
  icons/logs.json
  icons/save-off.json
  icons/signature.json
Labels: 🫧 metadata

#2863 fix(icons): changed `brackets` icon
  icons/brackets.svg
Labels: 🎨 icon

#2885 fix(icons): arcified `newspaper`
  icons/newspaper.svg
Labels: 🎨 icon

#2877 ci(node): Use correct node version
  .github/workflows/ci.yml
  .github/workflows/lint-code.yml
  .github/workflows/linting-icons.yml
  .github/workflows/lucide-angular.yml
  .github/workflows/lucide-font.yml
  .github/workflows/lucide-preact.yml
  .github/workflows/lucide-react-native.yml
  .github/workflows/lucide-react.yml
  .github/workflows/lucide-shared.yml
  .github/workflows/lucide-solid.yml
  .github/workflows/lucide-static.yml
  .github/workflows/lucide-svelte-5.yml
  .github/workflows/lucide-svelte.yml
  .github/workflows/lucide-vue-next.yml
  .github/workflows/lucide.yml
  .github/workflows/release.yml
  package.json
  packages/lucide-react-native/rollup.config.mjs
  packages/lucide-react/rollup.config.mjs
  packages/lucide-solid/rollup.config.mjs
  packages/lucide-static/rollup.config.mjs
  packages/lucide-vue-next/rollup.config.mjs
  packages/lucide-vue/rollup.config.mjs
  pnpm-lock.yaml
  scripts/migrateTagsToIcons.mjs
  scripts/render/processSvg.mjs
Labels: 📦 dependencies, ⚛️ react package, 💎 vue package, ⚛️ react native package, 🪝 solid package, 🪨 static package

#2868 fix(icons): changed `infinity` icon
  icons/infinity.json
  icons/infinity.svg
Labels: 🎨 icon, 🫧 metadata

#2319 feat(icons): added `shrimp` icon
  icons/shrimp.json
  icons/shrimp.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2405 feat(icons): added `clock-fading` icon
  icons/clock-fading.json
  icons/clock-fading.svg
Labels: 🎨 icon, 🫧 metadata

#2827 feat(icons): add `saudi-riyal` Symbol
  icons/saudi-riyal.json
  icons/saudi-riyal.svg
Labels: 🎨 icon, 🫧 metadata

#2919 fix(packages/lucide-angular): restore exporting prefixed and suffixed icon names
  packages/lucide-angular/package.json
  packages/lucide-angular/src/aliases/index.ts
Labels: 🅰️ angular package

#2917 feat(icons): updates `filter` & adds `filter-plus` icon
  icons/filter-x.json
  icons/filter.json
  icons/funnel-plus.json
  icons/funnel-plus.svg
  icons/funnel-x.json
  icons/funnel-x.svg
  icons/funnel.json
  icons/funnel.svg
Labels: 🎨 icon, 🫧 metadata

#2948 feat(icons): added `banknote-arrow-down` icon
  icons/banknote-arrow-down.json
  icons/banknote-arrow-down.svg
Labels: 🎨 icon, 🫧 metadata

#2949 feat(icons): added `banknote-x` icon
  icons/banknote-x.json
  icons/banknote-x.svg
Labels: 🎨 icon, 🫧 metadata

#2665 feat(@lucide/astro): add lucide package for Astro
  .github/ISSUE_TEMPLATE/02_bug_report.yml
  .github/ISSUE_TEMPLATE/04_feature_request.yml
  .github/labeler.yml
  .github/workflows/lucide-astro.yml
  .github/workflows/release.yml
  README.md
  docs/.vitepress/data/packageData.json
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/components/home/HomePackagesSection.data.ts
  docs/.vitepress/theme/components/home/HomePackagesSection.vue
  docs/.vitepress/theme/components/packages/PackageList.data.ts
  docs/.vitepress/theme/types.ts
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/packages/lucide-astro.md
  docs/public/framework-logos/astro-dark.svg
  docs/public/framework-logos/astro.svg
  docs/public/package-logos/dark/lucide-astro.svg
  docs/public/package-logos/lucide-astro.svg
  icons/newspaper.svg
  icons/shrimp.svg
  package.json
  packages/astro/.prettierrc.mjs
  packages/astro/README.md
  packages/astro/aliases/index.ts
  packages/astro/icons/.gitkeep
  packages/astro/package.json
  packages/astro/scripts/exportTemplate.mjs
  packages/astro/src/Icon.astro
  packages/astro/src/aliases/index.ts
  packages/astro/src/createLucideIcon.ts
  packages/astro/src/defaultAttributes.ts
  packages/astro/src/icons/.gitkeep
  packages/astro/src/lucide-astro.ts
  packages/astro/src/types.ts
  packages/astro/src/utils.ts
  packages/astro/tests/Icon.spec.ts
  packages/astro/tests/__snapshots__/Icon.spec.ts.snap
  packages/astro/tests/__snapshots__/createLucideIcon.spec.ts.snap
  packages/astro/tests/__snapshots__/lucide-astro.spec.ts.snap
  packages/astro/tests/createLucideIcon.spec.ts
  packages/astro/tests/lucide-astro.spec.ts
  packages/astro/tests/setupVitest.js
  packages/astro/tests/testIconNodes.ts
  packages/astro/tests/utils/index.ts
  packages/astro/tests/utils/render.ts
  packages/astro/tests/utils/types.ts
  packages/astro/tsconfig.json
  packages/astro/vitest.config.mts
  pnpm-lock.yaml
Labels: 📖 documentation, 📦 dependencies, 🎨 icon, 🌍 site, 🫧 metadata
