Repository lucide-icons/lucide, pull requests merged in 2025-06, with the labels that each got.

#3273 feat(angular): update peer dependencies for Angular to support version 20.x
  packages/lucide-angular/package.json
Labels: 🅰️ angular package

#2475 fix(icons): changed `trophy` icon
  icons/trophy.json
  icons/trophy.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#3249 feat(icons): added book-alert icon
  icons/book-alert.json
  icons/book-alert.svg
Labels: 🎨 icon, 🫧 metadata

#3238 fix(icons): changed `house-plus` icon
  icons/house-plus.svg
Labels: 🎨 icon

#3245 feat(icons): added `rectangle-circle` icon
  icons/rectangle-circle.json
  icons/rectangle-circle.svg
Labels: 🎨 icon, 🫧 metadata

#3304 fix(icons): changed `pocket` icon
  icons/pocket.svg
Labels: 🎨 icon

#3301 fix(icons): changed `mic` icon
  icons/mic.svg
Labels: 🎨 icon

#3293 fix(icons): changed `radio` icon
  icons/radio.json
  icons/radio.svg
Labels: 🎨 icon, 🫧 metadata

#3319 fix: some typos for categories
  icons/shredder.json
  icons/soap-dispenser-droplet.json
  icons/squares-exclude.json
  icons/squares-intersect.json
  icons/squares-subtract.json
  icons/squares-unite.json
Labels: 🫧 metadata

#3133 feat(icons): added `wifi-cog` icon
  icons/wifi-cog.json
  icons/wifi-cog.svg
Labels: 🎨 icon, 🫧 metadata

#1955 feat(icons): adds `barrel` icon
  icons/barrel.json
  icons/barrel.svg
Labels: 🎨 icon, 🫧 metadata

#3247 feat(icons): added `drone` icon
  icons/drone.json
  icons/drone.svg
Labels: 🎨 icon, 🫧 metadata

#3267 fix(icons): changed `blocks` icon
  icons/blocks.json
  icons/blocks.svg
Labels: 🎨 icon, 🫧 metadata

#2926 feat(icons): added `spool` icon
  icons/spool.json
  icons/spool.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#3269 fix(icons): ensure shaft overlaps arrowhead in `circle-arrow-left` and `circle-arrow-right`
  icons/circle-arrow-left.svg
  icons/circle-arrow-right.svg
Labels: 🎨 icon

#3262 feat(icons): added `squircle-dashed` icon
  icons/squircle-dashed.json
  icons/squircle-dashed.svg
Labels: 🎨 icon, 🫧 metadata

#2879 docs(design-guide): added bad examples for 2px rule
  docs/guide/design/icon-design-guide.md
  docs/images/2px-element-spacing-abrupt-cut.svg
  docs/images/2px-element-spacing-connected.svg
  docs/images/2px-element-spacing.svg
Labels: 📖 documentation, 🌍 site

#2393 feat(icons): add `line-squiggle` icon
  icons/line-squiggle.json
  icons/line-squiggle.svg
Labels: 🎨 icon, 🫧 metadata

#3265 feat(icons): added `bottle-wine` icon
  icons/bottle-wine.json
  icons/bottle-wine.svg
Labels: 🎨 icon, 🫧 metadata

#3225 docs(packages/lucide-static): update docs for better clarity
  docs/.vitepress/lib/codeExamples/createCodeExamples.ts
  docs/guide/packages/lucide-static.md
Labels: 📖 documentation, 🌍 site, Stale

#2538 fix(icons): Updates to clock-related icons
  icons/calendar-clock.json
  icons/calendar-clock.svg
  icons/clock-1.json
  icons/clock-1.svg
  icons/clock-10.svg
  icons/clock-11.json
  icons/clock-11.svg
  icons/clock-12.svg
  icons/clock-2.svg
  icons/clock-3.json
  icons/clock-3.svg
  icons/clock-4.svg
  icons/clock-5.json
  icons/clock-5.svg
  icons/clock-6.json
  icons/clock-6.svg
  icons/clock-7.json
  icons/clock-7.svg
  icons/clock-8.svg
  icons/clock-9.json
  icons/clock-9.svg
  icons/clock-alert.json
  icons/clock-alert.svg
  icons/clock-arrow-down.svg
  icons/clock-arrow-up.svg
  icons/clock.svg
  icons/file-clock.json
  icons/file-clock.svg
  icons/folder-clock.json
  icons/folder-clock.svg
  icons/watch.json
  icons/watch.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2531 feat(icons): added `vector-square` icon
  icons/vector-square.json
  icons/vector-square.svg
Labels: 🎨 icon, Stale, 🫧 metadata

#2448 fix(icons): Changed `megaphone` icon
  icons/megaphone-off.json
  icons/megaphone-off.svg
  icons/megaphone.json
  icons/megaphone.svg
Labels: 🎨 icon, 🫧 metadata

#2292 fix(icons): arcified `shrub` icon
  icons/shrub.json
  icons/shrub.svg
Labels: 🎨 icon, 🫧 metadata

#3370 fix(icons): changed `flag` icon
  icons/flag-off.json
  icons/flag-off.svg
  icons/flag.json
  icons/flag.svg
Labels: 🎨 icon, 🫧 metadata

#2873 feat(icons): added Turkish lira icons
  icons/badge-turkish-lira.json
  icons/badge-turkish-lira.svg
  icons/receipt-turkish-lira.json
  icons/receipt-turkish-lira.svg
  icons/turkish-lira.json
  icons/turkish-lira.svg
Labels: 🎨 icon, Stale, 🫧 metadata
